<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Tentang Bizsaya.com</h4>
                <p class="text-justify">
                    Bizsaya.com merupakan sebuah aplikasi atas talian yang dibangunkan untuk membantu
                    mereka yang menjalankan perniagaan atas talian menguruskan maklumat jualan serta inventori mereka.

                    Selain itu juga, Bizsaya.com menyediakan fungsi-fungsi analisis yang diharap dapat membantu
                    pelanggan kami untuk mengenalpasti dengan lebih lanjut mengenai perniagaan mereka dengan lebih mudah
                    dan cepat.
                </p>
                <p class="text-justify">
                    Bizsaya.com dibangunkan dengan <i>input-input</i> yang berharga daripada pelanggan kami
                    bagi memastikan aplikasi kami mudah digunakan serta mesra penjual.
                    Tidak lupa juga, Bizsaya.com memastikan kos yang mampu ditanggung sama ada perniagaan anda kecil
                    mahupun besar.
                </p>
                <hr class="light">
            </div>
            <div class="col-md-3 col-md-offset-1">
                <!--<h5 class="mb-sm">Hubungi kami</h5>-->
                <!--<span class="phone"><i class="fa fa-whatsapp"></i> 019-3924267</span>-->
                <!--<p class="mb-none">International: (333) 456-6670</p>-->
                <!--<p class="mb-none">Fax: (222) 531-8999</p>-->
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fa fa-envelope"></i> <a href="mailto:info@bizsaya.com">info@bizsaya.com</a></li>
                </ul>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/perniagaansaya/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <!--<li class="social-icons-twitter"><a href="https://twitter.com/BizsayaCom/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
                </ul>

                <!--<hr class="light">-->

                <!--<h5 class="mb-sm">Melanggani buletin</h5>-->

                <!--<p>-->
                <!--Dapatkan berita-berita terbaru mengenai kami terus ke emel anda.-->
                <!--</p>-->

                <!--<form id="newsletterForm" action="" method="POST">-->
                <!--<div class="input-group">-->
                <!--<input class="form-control" placeholder="Alamat emel" name="newsletterEmail" id="newsletterEmail" type="text" disabled>-->
                <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-default" type="button" disabled>Langgan</button>-->
                <!--</span>-->
                <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <a href="/" class="logo">
                        <img alt="Bizsaya.com" width="40" height="40" src="/img/bizsaya_logo.png">
                    </a>
                </div>
                <div class="col-xs-10 col-md-11">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="http://blog.dontpushpush.com">Blog</a></li>
                            <!--<li><a href="/sitemap">Sitemap</a></li>-->
                            <li><a href="http://dontpushpush.com">dontpushpush</a></li>
                        </ul>
                    </nav>
                    <p>&copy; <span class="hidden-xs">Hak cipta terpelihara dontpushpush ent.</span> {{ currentYear }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>