<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Tentang Bizsaya</h4>
                        <p class="text-justify">
                            Bizsaya merupakan sebuah aplikasi atas talian yang dilengkapi dengan modul
                            <a href="/comment.html">Komen</a>,
                            <a href="/inbox.html">Mesej</a> dan
                            <a href="/broadcast.html">Broadcast</a> yang akan digunakan
                            dalam membantu pengurusan laman sosial (Facebook Pages) perniagaan anda dengan mudah, ringkas, berkesan dan kos yang amat berbaloi
                        </p>
                        <p class="text-justify">
                            Bizsaya juga boleh menyimpan maklumat seperti nombor telefon atau emel sekiranya diberikan oleh fans anda di wall post Facebook Pages anda mahupun di inbox Facebook Pages anda.
                            Modul broadcast pula membolehkan anda untuk menghantar mesej terus kepada semua fans yang pernah berinteraksi di Facebook Page anda.
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fa fa-caret-right"></i> <a href="/benefits.html">Kelebihan</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="/contactus.html">Hubungi kami</a></li>
                            <li class="visible-xs"><i class="fa fa-caret-right"></i> <a href="/privacy.html">Dasar privasi</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <ul class="list list-icons list-icons-sm">
                            <li class="hidden-xs"><i class="fa fa-caret-right"></i> <a href="/privacy.html">Dasar privasi</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="/faq.html">FAQ</a></li>
                            <li class="visible-xs"><i class="fa fa-caret-right"></i> <a href="blog-full-width.html">Kenapa murah sangat?</a></li>
                            <li class="visible-xs"><i class="fa fa-caret-right"></i> <a href="blog-large-image.html">Disebalik tabir</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 hidden-xs">
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fa fa-caret-right"></i> <a href="/paylessgetmore.html">Kenapa murah sangat?</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="/tech.html">Disebalik tabir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <span class="phone"><i class="fa fa-whatsapp"></i> 017-2631883</span>

                <hr class="light visible-xs">

                <div class="fb-page"
                     data-href="https://www.facebook.com/perniagaansaya/"
                     data-tabs="timeline"
                     data-height="300"
                     data-small-header="true"
                     data-adapt-container-width="true"
                     data-hide-cover="false"
                     data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/perniagaansaya/"
                                class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/perniagaansaya/">
                            Bizsaya.com
                        </a>
                    </blockquote></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="padding-bottom: 30px">

        <hr>

        <div class="container">
            <div style="display: flex; align-items: center">
                <a href="/" class="logo">
                    <img alt="logo Bizsaya" width="40" height="40" src="/img/bizsaya_logo.png">
                </a>
                <div style="padding-left: 20px">
                    <p>&copy; Hak cipta terpelihara dontpushpush ent. <br /> 2016 - {{ currentYear }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>