<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4>Tentang Bizsaya</h4>
                <p class="text-justify">
                    Bizsaya merupakan sebuah aplikasi atas talian yang dilanggan secara bulanan oleh para pelanggan kami bagi membantu didalam proses automasi laman sosial perniagaan mereka.

                    Bizsaya boleh digunakan untuk auto-balas komen yang diberikan di Facebook Page anda serta mampu untuk menerima maklumat daripada pembeli yang inbox Facebook Page perniagaan anda.
                </p>
                <p class="text-justify">
                    Bizsaya dikuasakan dengan teknologi AI dan BOT yang membantu untuk memahami apa yang pembeli anda tanya dan memberikan jawapan berdasarkan tetapan yang anda berikan dan juga yang dipelajari.

                    Teknologi yang dinamakan YOBB ini diharap akan membantu anda untuk automasi proses-proses lazim yang mungkin sesuai untuk diautomasikan oleh Bizsaya.
                </p>
                <p class="text-justify">
                    Bizsaya dibangunkan khusus untuk satu aspek. Iaitu automasi proses seperti memberi komen balas di comment Facebook Page anda serta membantu memberikan respon balas didalam inbox Facebook Page anda.

                    Adalah dimaklumkan, Tiada maklumat personal anda yang kami perlukan. Hanyalah akses asas ke Facebook Page anda sahaja. Oh, sebelum terlupa. Tahukah anda kos untuk menggunakan Bizsaya amat-amat berbaloi serta murah?
                </p>
                <hr class="light">
            </div>
            <div class="col-md-3">
                <h5 class="mb-sm">Hubungi kami</h5>
                <span class="phone"><i class="fa fa-whatsapp"></i> 017-2631883</span>
                <!--<p class="mb-none">International: (333) 456-6670</p>-->
                <!--<p class="mb-none">Fax: (222) 531-8999</p>-->
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fa fa-envelope"></i> <a href="mailto:info@bizsaya.com">info@bizsaya.com</a></li>
                </ul>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/perniagaansaya/" target="_blank" title="Facebook"><i class="fa fa-facebook fa-2x" style="margin-top: 3px;"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://twitter.com/BizsayaCom/" target="_blank" title="Twitter" style="margin-left: 5px;"><i class="fa fa-twitter fa-2x" style="margin-top: 3px;"></i></a></li>
                </ul>

                <!--<hr class="light">-->

                <!--<h5 class="mb-sm">Melanggani buletin</h5>-->

                <!--<p>-->
                <!--Dapatkan berita-berita terbaru mengenai kami terus ke emel anda.-->
                <!--</p>-->

                <!--<form id="newsletterForm" action="" method="POST">-->
                <!--<div class="input-group">-->
                <!--<input class="form-control" placeholder="Alamat emel" name="newsletterEmail" id="newsletterEmail" type="text" disabled>-->
                <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-default" type="button" disabled>Langgan</button>-->
                <!--</span>-->
                <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <a href="/" class="logo">
                        <img alt="logo Bizsaya" width="40" height="40" src="/img/bizsaya_logo.png">
                    </a>
                </div>
                <div class="col-xs-10 col-md-11">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="https://bizsaya.com/privacy">Privasi</a></li>
                            <li><a href="http://blog.bizsaya.com">Blog</a></li>
                            <li><a href="http://dontpushpush.com">dontpushpush</a></li>
                        </ul>
                    </nav>
                    <p>&copy; <span class="hidden-xs">Hak cipta terpelihara dontpushpush ent.</span> {{ currentYear }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>