<header id="header" class="header-narrow " data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": false}'>
    <div class="header-body">
        <!--<div class="header-top header-top-tertiary header-top-style-3">-->
        <!--<div class="container">-->
        <!--<nav class="header-nav-top">-->
        <!--<ul class="nav nav-pills">-->
        <!--<li class="">-->
        <!--<span class="ws-nowrap text-light"><i class="fa fa-whatsapp"></i> 019-3924267</span>-->
        <!--</li>-->
        <!--<li class="hidden-xs">-->
        <!--<span class="ws-nowrap text-light"><i class="fa fa-envelope-o"></i> info@bizsaya.com</span>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</nav>-->
        <!--<nav class="header-nav-top pull-right">-->
        <!--<ul class="nav nav-pills">-->
        <!--<li class="">-->
        <!--<a href="https://app.bizsaya.com/login" class="text-light">Log Masuk</a>-->
        <!--</li>-->
        <!--<li class="">-->
        <!--<a href="https://app.bizsaya.com/register" class="text-light">Daftar</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</nav>-->
        <!--</div>-->
        <!--</div>-->
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-logo">
                        <a href="/">
                            <img alt="Bizsaya.com" width="40" height="40" src="/img/bizsaya_logo.png">
                        </a>
                    </div>
                </div>
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="header-social-icons social-icons hidden-xs">
                                <li class="social-icons-facebook"><a href="https://www.facebook.com/perniagaansaya/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <!--<li class="social-icons-twitter"><a href="https://twitter.com/BizsayaCom/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
                            </ul>
                            <!--<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">-->
                            <!---->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>