<html>
    <head>

        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Page title -->
        <title>Bizsaya | Automasi Facebook Page Anda</title>

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#0088cc">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#0088cc">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <!-- Metadata -->
        <meta name="keywords" content="Bizsaya,Bizsaya,Online,Perniagaan,Atastalian,statistik,laporan,saas,sistem,system,websystem,aplikasi web,facebook, messenger, bot, ai, yobb, automated,auto-reply,private-replies" />
        <meta name="author" content="info@bizsaya.com">
        <meta name="description" content="Bizsaya merupakan sebuah aplikasi atas talian yang dilengkapi dengan modul Komen, Mesej dan Broadcast bagi digunakan dalam membantu pengurusan laman sosial perniagaan anda dengan mudah, ringkas, berkesan dan kos yang amat berbaloi"/>
        <meta name="robots" content="noodp"/>
        <link rel="canonical" href="https://bizsaya.com/" />

        <!-- Facebook graph -->
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Bizsaya, Membantu dalam pengurusan laman sosial perniagaan anda dengan mudah, ringkas, berkesan dan kos yang berbaloi" />
        <meta property="og:description" content="Bizsaya merupakan sebuah aplikasi atas talian yang dilengkapi dengan modul Komen, Mesej dan Broadcast bagi digunakan dalam membantu pengurusan laman sosial perniagaan anda dengan mudah, ringkas, berkesan dan kos yang amat berbaloi" />
        <meta property="og:url" content="https://bizsaya.com/" />
        <meta property="og:site_name" content="Bizsaya" />
        <meta property="og:image" content="https://bizsaya.com/img/cover.jpg" />

        <!-- Twitter card -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="Bizsaya, Membantu dalam pengurusan laman sosial perniagaan anda dengan mudah, ringkas, berkesan dan kos yang berbaloi"/>
        <meta name="twitter:title" content="Bizsaya merupakan sebuah aplikasi atas talian yang dilengkapi dengan modul Komen, Mesej dan Broadcast bagi digunakan dalam membantu pengurusan laman sosial perniagaan anda dengan mudah, ringkas, berkesan dan kos yang amat berbaloi"/>

        <!-- Favicon and bookmark -->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/img/manifest.json">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="css/app.css">

        <!-- Head Libs -->
        <script src="js/modernizr.min.js"></script>

    </head>

