<html>
    <head>

        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Bizsaya.com | Membantu menguruskan perniagaan atas talian anda</title>

        <meta name="keywords" content="Bizsaya,Bizsaya.com,BizsayaDotCom,Online,Atastalian,Perniagaan,Membantu" />
        <meta name="description" content="Bizsaya.com | Membantu dalam menguruskan perniagaan atas talian anda bagi memacu perniagaan anda seiring dengan teknologi">
        <meta name="author" content="Bizsaya.com">

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- CSS -->
        <link rel="stylesheet" href="css/app.css">

        <!-- Head Libs -->
        <script src="js/modernizr.min.js"></script>

    </head>

