{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Ralat 404 <span>Halaman yang anda inginkan tidak dijumpai</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Ralat 404</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <section class="page-not-found">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="page-not-found-main">
                            <h2>404 <i class="fa fa-file"></i></h2>
                            <p class="small">Opps.. Halaman yang anda inginkan tidak dijumpai di Bizsaya.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="heading-primary">Pautan dibawah mungkin membantu</h4>
                        <ul class="nav nav-list">
                            <li><a href="/">Utama</a></li>
                            <li><a href="/module.html">Modul</a></li>
                            <li><a href="/package.html">Harga dan FAQ</a></li>
                            <li><a href="/about.html">Tentang Bizsaya</a></li>
                            <li><a href="/contact.html">Hubungi Bizsaya</a></li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>

</body>

{{> end }}