{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Modul dan kelebihan <span>Apa yang menariknya Bizsaya berbanding yang lain?</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Kelebihan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="text-center">
                <h2><strong>Automasikan</strong> laman sosial Facebook Page anda dengan Bizsaya!</h2>
                <p class="lead">
                    Dengan menggunakan Bizsaya, Tugasan untuk melayan pelanggan-pelanggan anda di laman sosial Facebook Page anda akan menjadi lebih mudah
                    serta lebih tersusun. Dengan menggunakan Bizsaya, anda boleh untuk .....
                </p>
            </div>

        </div>

        <hr class="short">

        <div class="container">

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-commenting-o"></i>
                                <h4>Balas privasi / terbuka</h4>
                                <p>
                                    Balas komen secara privasi<strong>(Private)</strong> atau terbuka<strong>(Public)</strong> atau <strong>Kedua-duanya</strong>
                                    kepada komen yang diterima di Facebook Page anda secara automatik berdasarkan tetapan yang anda telah nyatakan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-image"></i>
                                <h4>Komen bergambar</h4>
                                <p>Balas komen yang diberikan menggunakan gambar. Gambar testimoni, teaser produk kini lebih mudah disampaikan kepada prospek anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-thumbs-up"></i>
                                <h4><i><b>Like</b></i> komen</h4>
                                <p>Like komen yang diberikan secara automatik bagi menghargai prospek yang berinteraksi dengan Facebook Page anda. Menghargai <strong>engagement</strong> mereka bermakna lebih baik</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-mobile"></i>
                                <h4>Hubungi saya</h4>
                                <p>Simpan maklumat pribadi yang diberikan oleh prospek anda seperti nombor telefon atau emel. Proses seterusnya adalah menghubungi mereka!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-code-fork"></i>
                                <h4>Komen dalam komen</h4>
                                <p>
                                    Bizsaya akan membalas komen yang diberikan didalam komen. Ini memastikan semua komen adalah terjawab mengikut tetapan yang anda berikan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-bullhorn"></i>
                                <h4><strong>Mention</strong> nama</h4>
                                <p>
                                    Mention nama pemberi komen didalam komen balas anda. Ini bagi memastikan pemberi komen rasa lebih neutral dengan komen balas yang diterima
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-exclamation"></i>
                                <h4>Notifikasi gagal</h4>
                                <p>
                                    Tidak dinafikan. Kadang kala, terdapat komen yang mungkin Bizsaya tidak boleh balas secara privasi mahupun terbuka. Bizsaya akan memaklumkan terus kepada anda untuk anda respon secara manual
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-globe"></i>
                                <h4>Notifikasi Hubungi saya</h4>
                                <p>
                                    Setiap kali terdapat maklumat prospek yang berjaya disimpan oleh Bizsaya. Bizsaya akan memaklumkan terus ke inbox FB personal anda.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-bullseye"></i>
                                <h4>Mesej utama</h4>
                                <p>Hantar mesej yang penting secara automatik selepas prospek memulakan perbualan ataupun membalas komen balas tertutup anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-comments-o"></i>
                                <h4>3 Jenis mesej</h4>
                                <p>Mesej utama anda boleh mempunyai gambar, pautan ke laman sesawang serta ke nombor telefon anda. Ini memudahkan prospek anda untuk menerima maklumat daripada anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-mobile"></i>
                                <h4>Simpan maklumat</h4>
                                <p>Maklumat-maklumat penting seperti nombor telefon, emel akan disimpan secara automatik kedalam Bizsaya. Bizsaya akan memaklumkan secara automatik kepada anda sekiranya terdapat maklumat baru</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-globe"></i>
                                <h4>Notifikasi ke anda</h4>
                                <p>Maklumat-maklumat yang diberikan oleh prospek di inbox FB page anda akan dihantar terus ke inbox personal anda bagi memudahkan anda untuk menyemak maklumat prospek anda</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <section class="section section-default">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2><strong>Mudah digunakan</strong>, minimal dan ringkas</h2>
                    <p class="lead text-justify">
                        Bizsaya merupakan sebuah aplikasi yang dibangunkan khas untuk automasikan pengurusan Facebook Page anda. Ini bermakna, Dengan hanya beberapa tetapan daripada anda, ianya akan berfungsi terus tanpa
                        memerlukan pantauan kerap daripada anda. Mudah. Bizsaya akan memaklumkan kepada anda sekiranya ianya terdapat sesuatu yang diluar kemampuan Bizsaya
                    </p>
                </div>
                <div class="col-md-3">
                    <img class="hidden-xs img-responsive appear-animation animated fadeInRight appear-animation-visible" src="img/bot-cart.png" alt="Mudah digunakan, minimal dan ringkas" data-appear-animation="fadeInRight">
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row mt-xl mb-xl">
            <div class="col-md-3">
                <img class="img-responsive mt-xl appear-animation animated fadeInLeft appear-animation-visible" src="img/statistics.png" alt="Meningkatkan Rating dan happiness prospek anda" data-appear-animation="fadeInLeft">
            </div>
            <div class="col-md-9">
                <h2 class="mt-xl"><strong>Meningkatkan Rating</strong> dan happiness prospek anda</h2>
                <p class="lead text-justify">
                    Dengan menggunakan Bizsaya, pertanyaan lazim yang kerap ditanya oleh prospek anda boleh dijawap secara automatik secara terus dan pantas. Ini secara tidak langsung,
                    prospek anda akan rasa lebih dihargai dan dilayan
                </p>
            </div>
        </div>
    </div>

    <hr>

    <h2 class="text-center">
        <span class="alternative-font font-size-md mt-xl">dan banyak lagi yang harus dirasai sendiri, <strong><a href="{{ appurl }}">Cuba sekarang!</a></strong></span>
    </h2>

</div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-offer').addClass('active');
    });
</script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}