{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            Modul Broadcast
                            <span>Membantu menguruskan sebaran mesej terus ke inbox prospek anda</span>
                        </h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Modul Broadcast</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="text-center">
                <h2><strong>Membantu</strong> menguruskan sebaran mesej terus ke inbox prospek anda!</h2>
                <p class="lead">
                    Modul broadcast akan membantu anda menguruskan sebaran mesej terus ke inbox prospek yang pernah mesej inbox FB Page anda dengan mudah. Selain itu juga, modul ini mempunyai kelebihan ....
                </p>
            </div>

        </div>

        <hr class="short">

        <div class="container">

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-users"></i>
                                <h4>Tanpa had jumlah prospek</h4>
                                <p>
                                    Sama ada Bizsaya berjaya menyimpan puluhan, ratusan, ribuan mahupun jutaan. Bizsaya akan mencuba untuk broadcast mesej anda ke prospek anda
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-tasks"></i>
                                <h4>Pantas</h4>
                                <p>Bizsaya akan broadcast mesej anda didalam rate 20 mesej bagi setiap 20 saat</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-money"></i>
                                <h4>Kos yang berpatutan</h4>
                                <p>
                                    Hanya RM10.00 bagi setiap sesi broadcast. Menjadikan ianya fungsi yang berbaloi untuk anda gunakan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-bullhorn"></i>
                                <h4><strong>Mention</strong> nama</h4>
                                <p>
                                    Yup, anda boleh mention nama prospek anda didalam mesej broadcast anda. Ini memastikan mesej anda lebih tertumpu kepada prospek anda
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-comments-o"></i>
                                <h4>3 jenis mesej</h4>
                                <p>
                                    Sama ada anda ingin mesej berbentuk perkataan sahaja, atau perkataan berserta dengan button pautan ataupun perkataan berserta dengan button nombor telefon. Anda boleh memilihnya.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-image"></i>
                                <h4>Mesej beserta gambar</h4>
                                <p>Anda boleh kepilkan sekeping gambar didalam mesej yang anda ingin broadcast. Mungkin hadiah ataupun detail promosi anda?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-user-secret"></i>
                                <h4>Cuba mesej</h4>
                                <p>Anda boleh mencuba mesej yang anda tetapkan sebelum anda broadcast mesej anda ke prospek anda. Dengan ini anda boleh <strong>fine tune</strong> mesej yang akan diterima oleh prospek anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-exclamation"></i>
                                <h4>Notifikasi ralat</h4>
                                <p>
                                    Bizsaya akan memaklumkan sekiranya terdapat sebarang ralat sewaktu broadcast terus ke Inbox FB personal anda. Dengan ini anda boleh melakukan secara manual bagi prospek yang gagal di broadcast
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="heading heading-border heading-middle-border heading-middle-border-center">
            <h2><strong>FAQ</strong> Broadcast</h2>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-4 text-justify">
                    <h4 class="mb-none">Apa itu modul Broadcast</h4>
                    <p>
                        Modul broadcast merupakan satu modul yang digunakan oleh pengguna-pengguna Bizsaya untuk menyebarkan mesej-mesej tertentu terus kepada inbox FB prospek yang pernah dan menyimpan mesej inbox FB page mereka.
                    </p>
                    <p>
                        Mesej kebiasannya berkaitan promosi terkini ataupun aktiviti-aktiviti (events) tertentu yang dirancang oleh admin Page
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 text-justify">
                    <h4 class="mb-none">Mesej sebelum saya gunakan Bizsaya boleh dibroadcast juga?</h4>
                    <p>
                        Bagi mana-mana mesej sebelum anda menggunakan Bizsaya. Mesej tersebut tidak boleh dibroadcast oleh Bizsaya. Ini kerana maklumat mengenai prospek tersebut tidak lagi disimpan didalam
                        pengkalan data utama Bizsaya.
                    </p>
                    <p>
                        Sekiranya anda inginkan mesej-mesej sebelum anda menggunakan Bizsaya untuk di broadcast. Anda perlu mesej prospek tersebut secara manual terlebih dahulu dan prospek anda perlu membalas
                        mesej tersebut. Dengan cara itu, Bizsaya akan simpan maklumat prospek tersebut secara automatik.
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 text-justify">
                    <h4 class="mb-none">Bagaimana cara Bizsaya menyimpan maklumat prospek?</h4>
                    <p>
                        Apabila anda telah daftar dengan aplikasi Bizsaya, Walaupun anda tidak aktifkan modul komen ataupun mesej. Bizsaya akan tetap menyimpan maklumat prospek tersebut sebagai langkah
                        untuk persediaan bagi anda menggunakan fungsi broadcast.
                    </p>
                    <p>
                        Sekiranya anda mengaktifkan modul Komen. dan menggunakan reply balas secara privasi. Maklumat prospek tersebut akan disimpan juga didalam aplikasi Bizsaya. Pendek kata, Sebarang
                        mesej masuk mahupun keluar di FB Page anda, Bizsaya akan simpan maklumat prospek tersebut.
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 text-justify">
                    <h4 class="mb-none">Adakah ianya melanggar polisi FB?</h4>
                    <p>
                        Anda perlu menghantar mesej broadcast anda untuk disahkan oleh Bizsaya sebelum anda boleh broadcast mesej tersebut. Setelah mesej anda disahkan. Anda boleh broadcast mesej tersebut
                        bila-bila sahaja. Namun, kami di Bizsaya berhak untuk melambatkan proses broadcast tersebut sekiranya aplikasi Bizsaya mencapai "Rate Limit".
                    </p>
                    <p>
                        Jadi, adakah modul ini melanggar polisi FB? Ianya bergantung kepada berapa kerap anda ingin broadcast mesej anda dan isi pada mesej anda. Untuk maklumat lebih lanjut, anda boleh
                        membaca polisi FB di link ini <a href="https://developers.facebook.com/docs/messenger-platform/policy-overview" target="_blank">https://developers.facebook.com/docs/messenger-platform/policy-overview</a>
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 text-justify">
                    <h4 class="mb-none">Kuota "Rate Limit"</h4>
                    <p>
                        Adalah dimaklumkan. Kuota adalah ditetapkan oleh Facebook. Kami di Bizsaya akan cuba sedaya upaya untuk memastikan mesej anda boleh di-broadcast serta tidak melanggar polisi dan tetapan Facebook.
                        Penerangan bagi kuota adalah seperti berikut.
                    </p>
                    <p>
                        Terdapat 2 jenis kuota, Pertama kuota aplikasi Bizsaya dan kedua kuota FB Page anda sendiri. Kuota aplikasi Bizsaya adalah berdasarkan jumlah log masuk ke aplikasi Bizsaya. Sebagai contoh,
                        Sekiranya anda kerap log masuk aplikasi Bizsaya untuk memantau paparan semasa, menyemak maklumat pelanggan. Secara tidak langsung, anda membantu menambah jumlah kuota aplikasi Bizsaya.
                        Kuota aplikasi di hadkan pada setiap jam. Ini bermakna, Sekiranya terdapat pelanggan lain yang sedang broadcast mesej ke prospek yang banyak, Berkemungkinan broadcast anda akan boleh di-broadcast
                        di jam berikutnya.
                    </p>
                    <p>
                        Kuota kedua adalah kuota FB Page anda sendiri. Ini adalah berdasarkan pada berapa ramai prospek yang aktif view/klik pada page anda. Anda perlu memastikan FB page anda aktif dengan aktiviti-aktiviti
                        bagi mengalakkan lebih banyak penggunaan pada FB page anda. Kuota FB Page anda di hadkan pada setiap 24 jam. Ini bermakna, Sekiranya anda telah mencapai had kuota. Bizsaya akan membatalkan terus
                        broadcast anda bagi mengelakkan daripada aplikasi Bizsaya melanggar polisi FB (Kerana terlalu banyak "ERROR CALL")
                    </p>
                    <p>
                        Maklumat lanjut mengenai kuota ini anda boleh membacanya di link ini
                        <a href="https://developers.facebook.com/docs/graph-api/advanced/rate-limiting" target="_blank">https://developers.facebook.com/docs/graph-api/advanced/rate-limiting</a>
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 text-justify">
                    <h4 class="mb-none">Macam mana cara untuk saya menggunakannya</h4>
                    <p>
                        Modul broadcast adalah modul yang menggunakan model "Pay when u need". Hanya apabila anda ingin menggunakan fungsi broadcast sahaja anda perlu membuat pembayaran
                        ke Bizsaya. Harga bagi setiap sesi broadcast anda adalah RM10.00.
                    </p>
                    <p>
                        Modul broadcast memerlukan akaun anda sebagai akaun aktif (Akaun trial tidak boleh menggunakan fungsi ini) dan pembayaran minima RM10.00. Anda boleh membuat pembayaran terlebih dahulu dan
                        menggunakan fungsi broadcast bila-bila sahaja anda mahu. Sesi broadcast yang tidak digunakan tiada had tamat tempoh.
                        <strong>Sekiranya anda membatalkan akaun Bizsaya anda, Baki sesi anda tidak boleh dipulangkan.</strong>
                    </p>
                </div>
            </div>

        </div>

    </div>

</div>

{{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-module').addClass('active');
        $('#menu-module-broadcast').addClass('active');
    });
</script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}