<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Maklumat pembelian anda</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/buying.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-flash.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .dz-success-mark, .dz-error-mark, .dz-filename {
            display: none;
        }
        .dz-error-message {
            color: red;
            font-size: 18px;
            font-weight: bold;
        }
        .dz-image {
            text-align: center;
        }
        .dropzone-previews {
            margin-top: 20px;
        }
        .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
            border: 1px solid transparent;
            background: transparent;
        }
    </style>
</head>
<body>

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[ 0 ];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
</script>

    <div class="container" id="app"></div>

<script>window.API_URL = 'http://localhost:3000/'</script>
<script src="js/buying.min.js?id=132"></script>
</body>
</html>