{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Modul Komen <span>Membantu menguruskan komen di Post FB Page anda</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Modul Komen</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="text-center">
                <h2><strong>Automasikan</strong> proses menjawab komen di Post FB Page anda!</h2>
                <p class="lead">
                    Modul komen di Bizsaya membantu anda untuk menjawab komen di Post FB Page anda dengan kemampuan-kemampuan seperti ....
                </p>
            </div>

        </div>

        <hr class="short">

        <div class="container">

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-commenting-o"></i>
                                <h4>Balas privasi / terbuka</h4>
                                <p>
                                    Balas komen secara privasi<strong>(Private)</strong> atau terbuka<strong>(Public)</strong> atau <strong>Kedua-duanya</strong>
                                    kepada komen yang diterima di Facebook Page anda secara automatik berdasarkan tetapan yang anda telah nyatakan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-image"></i>
                                <h4>Komen bergambar</h4>
                                <p>Balas komen yang diberikan menggunakan gambar. Gambar testimoni, teaser produk kini lebih mudah disampaikan kepada prospek anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-thumbs-up"></i>
                                <h4><i><b>Like</b></i> komen</h4>
                                <p>Like komen yang diberikan secara automatik bagi menghargai prospek yang berinteraksi dengan Facebook Page anda. Menghargai <strong>engagement</strong> mereka bermakna lebih baik</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-mobile"></i>
                                <h4>Hubungi saya</h4>
                                <p>Simpan maklumat pribadi yang diberikan oleh prospek anda seperti nombor telefon atau emel. Proses seterusnya adalah menghubungi mereka!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-code-fork"></i>
                                <h4>Komen dalam komen</h4>
                                <p>
                                    Bizsaya akan membalas komen yang diberikan didalam komen. Ini memastikan semua komen adalah terjawab mengikut tetapan yang anda berikan
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-bullhorn"></i>
                                <h4><strong>Mention</strong> nama</h4>
                                <p>
                                    Mention nama pemberi komen didalam komen balas anda. Ini bagi memastikan pemberi komen rasa lebih neutral dengan komen balas yang diterima
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-exclamation"></i>
                                <h4>Notifikasi gagal</h4>
                                <p>
                                    Tidak dinafikan. Kadang kala, terdapat komen yang mungkin Bizsaya tidak boleh balas secara privasi mahupun terbuka. Bizsaya akan memaklumkan terus kepada anda untuk anda respon secara manual
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-random"></i>
                                <h4>Komen rawak</h4>
                                <p>
                                    Dengan komen secara rawak, Komen-komen yang dibalas oleh Bizsaya akan kelihatan lebih organik serta mengurangkan kebarangkalian komen yang berikan dilabel sebagai SPAM
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-module').addClass('active');
        $('#menu-module-comment').addClass('active');
    });
</script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}