{{> head }}

<body>

<style>
    #footer.short, #footer {
        margin-top: 0px !important;
    }
</style>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <!--<section class="page-header page-header-color page-header-quaternary page-header-more-padding">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<h1>Hubungi Kami<span>Sekiranya anda mempunyai cadangan/soalan mahupun apa-apa yang berkaitan</span></h1>-->
                        <!--<ul class="breadcrumb breadcrumb-valign-mid">-->
                            <!--<li><a href="/">Utama</a></li>-->
                            <!--<li class="active">Hubungi Kami</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFtjvW19jCJnFClgP8NWePndbVTENZXbbCVxjtprmyM8mluw/viewform?embedded=true" width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}