{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            FAQ
                            <span>Soalan lazim</span>
                        </h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">FAQ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-4 text-justify">
                    <h4 class="mb-none">Apa itu Bizsaya</h4>
                    <p>
                        Bizsaya merupakan sebuah aplikasi atas talian yang dilengkapi dengan modul Komen, Mesej dan Broadcast yang akan digunakan
                        dalam membantu pengurusan laman sosial (Facebook Pages) perniagaan anda dengan mudah, ringkas, berkesan dan kos yang amat berbaloi
                    </p>

                    <p>
                        Bizsaya juga boleh menyimpan maklumat seperti nombor telefon atau emel sekiranya diberikan oleh fans anda di wall post
                        Facebook Pages anda mahupun di inbox Facebook Pages anda. Modul broadcast pula membolehkan anda untuk menghantar mesej
                        terus kepada semua fans yang pernah berinteraksi di Facebook Page anda.
                    </p>

                    <hr>

                    <h4 class="mb-none">Cara pembayaran</h4>

                    <p>
                        Buat masa sekarang, Bizsaya tidak menyediakan lagi fungsi "auto-payment"/"auto-debit" payment daripada debit/credit card anda.
                        Oleh itu, anda perlu membuat pembayar ke no account yang diberikan (Boleh didapati di Profil Pengguna)
                        dan memuat naik bukti pembayaran tersebut ke aplikasi (Boleh didapati di Profil Pengguna) ataupun Whatsapp ke nombor yang diberikan (Boleh didapati di Profil Pengguna)
                    </p>
                    <p>
                        Bizsaya digunakan secara pre-paid. Anda perlu membayar terlebih dahulu sebelum menggunakan aplikasi Bizsaya
                    </p>
                    <p>
                        Pihak kami akan menyemak pembayaran tersebut dan mengemaskini status akaun anda
                    </p>

                    <hr>

                    <h4 class="mb-none">Terlambat membuat bayaran?</h4>

                    <p>Bizsaya akan memaklumkan kepada anda 3 hari sebelum tempoh aktif akaun anda tamat.</p>

                    <p>Sekiranya tiada pembayaran dibuat sebelum tempoh aktif tamat, Bizsaya akan berhenti memproses maklumat daripada akaun anda.</p>

                    <p>Dan sekiranya tiada pembayaran dibuat seminggu selepas tempoh aktif, Bizsaya berhak memadam maklumat-maklumat berkaitan dengan akaun anda. Maklumat-maklumat tersebut tidak boleh didapatkan semula.</p>

                    <hr>

                    <h4 class="mb-none">Membatalkan akaun?</h4>
                    <p>
                        Anda boleh membatalkan akaun anda bila-bila masa sahaja daripada Profil Pengguna. Untuk makluman, <strong>Tiada Refund akan diberikan sekiranya terdapat baki tempoh yang ada</strong>
                    </p>

                    <hr>

                    <h4 class="mb-none">Komen balas bergambar</h4>

                    <p>
                        Terdapat 2 cara yang anda boleh gunakan untuk komen balas bergambar.
                        Sama ada gambar yang digunakan untuk membalas adalah spesifik kepada tetapan yang diberikan atau menggunakan gambar daripada modul media
                    </p>

                    <p>
                        Sekiranya anda memilih untuk gambar balas spesifik kepada tetapan.
                        Hanya maximum 3 gambar yang dibenarkan dan hanya 1 sahaja yang akan dipaparkan (dipilih secara rawak) dan hanya pada komen balas <strong>public</strong> sahaja
                    </p>

                    <p>
                        Sekiranya anda memilih untuk balas gambar dari modul media. Proses adalah seperti balas gambar secara spesifik kepada tetapan, Cuma gambar diambil daripada modul media.
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">

                    <h4 class="mb-none">Bagaimana dengan data privasi?</h4>
                    <p>
                        Adalah untuk maklumat anda, <strong>Kami di Bizsaya tidak akan menjual atau menggunakan data yang diberikan kepada pihak ketiga</strong>. Semua maklumat-maklumat tersebut hanyalah digunakan untuk
                        menambah baik aplikasi Bizsaya dan sebagai statistik global yang kami akan meminta kebenaran anda untuk mendapatkannya. Statik ini boleh digunakan untuk tujuan marketing anda mahupun laporan kajian.
                    </p>
                    <p>
                        Kami juga akan cuba sedaya upaya untuk memastikan data dan maklumat yang ada selamat daripada diceroboh biarpun didalam aplikasi Bizsaya, Tiada maklumat yang disimpan untuk jangka masa panjang.
                        Oleh kerana maklumat Bizsaya datang daripada Facebook, anda juga perlu mengetahui polisi privasi Facebook.
                    </p>
                    <p>
                        Tiada maklumat sulit yang disimpan didalam aplikasi Bizsaya mahupun diperlukan oleh Bizsaya. YOBB akan menggunakan maklumat-maklumat yang diberikan oleh anda dan itu sahaja.
                    </p>

                    <hr>

                    <h4 class="mb-none">Adakah Bizsaya patuh kepada polisi FB?</h4>
                    <p>
                        Yup. Di Bizsaya, tiada maklumat personal mengenai anda diperlukan melainkan hanya alamat emel anda yang akan digunakan hanya untuk menghantar notifikasi penting sahaja kepada anda
                    </p>
                    <p>
                        Selain itu juga, Aplikasi Bizsaya telah melepasi proses pengesahan daripada Facebook. Ini memastikan aplikasi mengikut polisi dan tetapan yang diberikan oleh Facebook.
                        Sekiranya anda berminat untuk menbaca lebih lanjut mengenai polisi aplikasi di Facebook. Layari pautan dibawah ini
                        <a href="https://developers.facebook.com/docs/messenger-platform/policy-overview" target="_blank">https://developers.facebook.com/docs/messenger-platform/policy-overview</a>
                    </p>

                    <hr>

                    <h4 class="mb-none">Kuota "Rate Limit"</h4>
                    <p>
                        Adalah dimaklumkan. Kuota adalah ditetapkan oleh Facebook. Kami di Bizsaya akan cuba sedaya upaya untuk memastikan mesej anda boleh di-broadcast serta tidak melanggar polisi dan tetapan Facebook.
                        Penerangan bagi kuota adalah seperti berikut.
                    </p>
                    <p>
                        Terdapat 2 jenis kuota, Pertama kuota aplikasi Bizsaya dan kedua kuota FB Page anda sendiri. Kuota aplikasi Bizsaya adalah berdasarkan jumlah log masuk ke aplikasi Bizsaya. Sebagai contoh,
                        Sekiranya anda kerap log masuk aplikasi Bizsaya untuk memantau paparan semasa, menyemak maklumat pelanggan. Secara tidak langsung, anda membantu menambah jumlah kuota aplikasi Bizsaya.
                        Kuota aplikasi di hadkan pada setiap jam. Ini bermakna, Sekiranya terdapat pelanggan lain yang sedang broadcast mesej ke fans yang banyak, Berkemungkinan broadcast anda akan boleh di-broadcast
                        di jam berikutnya.
                    </p>
                    <p>
                        Kuota kedua adalah kuota FB Page anda sendiri. Ini adalah berdasarkan pada berapa ramai fans yang aktif view/klik pada page anda. Anda perlu memastikan FB page anda aktif dengan aktiviti-aktiviti
                        bagi mengalakkan lebih banyak penggunaan pada FB page anda. Kuota FB Page anda di hadkan pada setiap 24 jam. Ini bermakna, Sekiranya anda telah mencapai had kuota. Bizsaya akan membatalkan terus
                        broadcast anda bagi mengelakkan daripada aplikasi Bizsaya melanggar polisi FB (Kerana terlalu banyak "ERROR CALL")
                    </p>
                    <p>
                        Maklumat lanjut mengenai kuota ini anda boleh membacanya di link ini
                        <a href="https://developers.facebook.com/docs/graph-api/advanced/rate-limiting" target="_blank">https://developers.facebook.com/docs/graph-api/advanced/rate-limiting</a>
                    </p>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h4 class="mb-none">Apa itu modul Broadcast</h4>
                    <p>
                        Modul broadcast merupakan satu modul yang digunakan oleh pengguna-pengguna Bizsaya untuk menyebarkan mesej-mesej tertentu terus kepada inbox FB fans-fans yang pernah mesej FB page mereka.
                    </p>
                    <p>
                        Mesej kebiasannya berkaitan promosi terkini ataupun aktiviti-aktiviti (events) tertentu yang dirancang oleh admin Page
                    </p>

                    <hr>

                    <h4 class="mb-none">Mesej sebelum saya gunakan Bizsaya boleh dibroadcast juga?</h4>
                    <p>
                        Bagi mana-mana mesej sebelum anda menggunakan Bizsaya. Mesej tersebut tidak boleh dibroadcast oleh Bizsaya. Ini kerana maklumat mengenai fans tersebut tidak lagi disimpan didalam
                        pengkalan data utama Bizsaya.
                    </p>
                    <p>
                        Sekiranya anda inginkan mesej-mesej sebelum anda menggunakan Bizsaya untuk di broadcast. Anda perlu mesej fans tersebut secara manual terlebih dahulu. Dengan cara itu, Bizsaya akan
                        simpan maklumat fans tersebut secara automatik.
                    </p>

                    <hr>

                    <h4 class="mb-none">Bagaimana cara Bizsaya menyimpan maklumat fans?</h4>
                    <p>
                        Apabila anda telah daftar dengan aplikasi Bizsaya, Walaupun anda tidak aktifkan modul komen ataupun mesej. Bizsaya akan tetap menyimpan maklumat fans tersebut sebagai langkah
                        untuk persediaan bagi anda menggunakan fungsi broadcast.
                    </p>
                    <p>
                        Sekiranya anda mengaktifkan modul Komen. dan menggunakan reply balas secara privasi. Maklumat fans tersebut akan disimpan juga didalam aplikasi Bizsaya. Pendek kata, Sebarang
                        mesej masuk mahupun keluar di FB Page anda, Bizsaya akan simpan maklumat fans tersebut.
                    </p>

                    <hr>

                    <h4 class="mb-none">Cara menggunakan modul broadcast</h4>
                    <p>
                        Modul broadcast adalah modul yang menggunakan model "Pay when u need". Hanya apabila anda ingin menggunakan fungsi broadcast sahaja anda perlu membuat pembayaran
                        ke Bizsaya. Harga bagi setiap sesi broadcast anda adalah RM10.00.
                    </p>
                    <p>
                        Modul broadcast memerlukan akaun anda sebagai akaun aktif (Akaun trial tidak boleh menggunakan fungsi ini) dan pembayaran minima RM10.00. Anda boleh membuat pembayaran terlebih dahulu dan
                        menggunakan fungsi broadcast bila-bila sahaja anda mahu. Sesi broadcast yang tidak digunakan tiada had tamat tempoh.
                        <strong>Sekiranya anda membatalkan akaun Bizsaya anda, Baki sesi anda tidak boleh dipulangkan.</strong>
                    </p>

                </div>
            </div>

        </div>

        <hr class="short">

        <div class="container">



        </div>
    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}