{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Modul Mesej <span>Membantu menguruskan mesej di Inbox FB Page anda</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Modul Mesej</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="text-center">
                <h2><strong>Automasikan</strong> proses menjawab mesej di Inbox FB Page anda!</h2>
                <p class="lead">
                    Modul Mesej di Bizsaya membantu anda untuk menjawab mesej di Inbox FB Page anda dengan kemampuan-kemampuan seperti ....
                </p>
            </div>

        </div>

        <hr class="short">

        <div class="container">

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-comments-o"></i>
                                <h4>Balas inbox</h4>
                                <p>Balas mesej yang dihantar ke inbox Facebook Page anda secara automatik, Anda boleh menggunakan tetapan kata kunci mahupun AI NLP YOBB</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-random"></i>
                                <h4>Inbox interaktif</h4>
                                <p>Anda boleh membuat flow di inbox FB pages anda. Seperti "contents" mahupun pilihan produk</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-exchange"></i>
                                <h4>Kembali ke anda</h4>
                                <p>Mungkin akan terdapat perbincangan yang Bizsaya tidak mampu untuk menguruskannya. Bizsaya mampu untuk memaklumkan kepada fans Facebook Page anda sekiranya mereka ingin bercakap terus dengan anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-mobile"></i>
                                <h4>Simpan maklumat</h4>
                                <p>Maklumat-maklumat penting seperti nombor telefon, emel akan disimpan secara automatik kedalam Bizsaya. Bizsaya akan memaklumkan secara automatik kepada anda sekiranya terdapat maklumat baru</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-ellipsis-h"></i>
                                <h4>Ucapan utama</h4>
                                <p>
                                    Beri informasi terus kepada fans anda sebelum mereka memulakan chat. Dengan ini memudahkan fans anda untuk mengetahui tentang produk anda
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-hand-pointer-o"></i>
                                <h4>Button permulaan</h4>
                                <p>
                                    Dengan button permulaan, Ini membantu fans anda untuk memulakan chat dengan lebih mudah dengan maklumat yang diberikan terus sejurus mereka klik button permulaan.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-code-fork"></i>
                                <h4>Testing</h4>
                                <p>
                                    Cuba dahulu flow chat anda rangka sebelum fans anda menggunakannya. Ini memastikan flow chat anda lebih mudah difahami oleh fans anda
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-quote-left"></i>
                                <h4>3 Jenis tetapan respon</h4>
                                <p>
                                    Anda boleh memilih untuk respon perkataan sahaja, atau respon berbentuk button atau respon berbentuk "quick replies".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-module').addClass('active');
        $('#menu-module-inbox').addClass('active');
    });
</script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}