{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Modul Mesej <span>Membantu menguruskan mesej di Inbox FB Page anda</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Modul Mesej</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="text-center">
                <h2><strong>Automasikan</strong> proses menjawab mesej di Inbox FB Page anda!</h2>
                <p class="lead">
                    Modul Mesej di Bizsaya membantu anda untuk menjawab mesej di Inbox FB Page anda dengan kemampuan-kemampuan seperti ....
                </p>
            </div>

        </div>

        <hr class="short">

        <div class="container">

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-bullseye"></i>
                                <h4>Mesej utama</h4>
                                <p>Hantar mesej yang penting secara automatik selepas prospek memulakan perbualan ataupun membalas komen balas tertutup anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-comments-o"></i>
                                <h4>3 Jenis mesej</h4>
                                <p>Mesej utama anda boleh mempunyai gambar, pautan ke laman sesawang serta ke nombor telefon anda. Ini memudahkan prospek anda untuk menerima maklumat daripada anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-mobile"></i>
                                <h4>Simpan maklumat</h4>
                                <p>Maklumat-maklumat penting seperti nombor telefon, emel akan disimpan secara automatik kedalam Bizsaya. Bizsaya akan memaklumkan secara automatik kepada anda sekiranya terdapat maklumat baru</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-globe"></i>
                                <h4>Notifikasi ke anda</h4>
                                <p>Maklumat-maklumat yang diberikan oleh prospek di inbox FB page anda akan dihantar terus ke inbox personal anda bagi memudahkan anda untuk menyemak maklumat prospek anda</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>$(document).ready(function () {$('#menu-module').addClass('active');$('#menu-module-inbox').addClass('active');});</script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}