{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <div class="slider-container light rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider
                 data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 600}'>
                <ul>
                    <li data-transition="fade">
                        <img src="img/slider/cover.jpg"
                             alt="Halaman utama Bizsaya"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg">
                    </li>
                </ul>
            </div>
        </div>

        <!--<div class="home-intro" id="home-intro">-->
        <!--<div class="container">-->

        <!--<p>-->
        <!--<em>Bizsaya</em>, Membantu didalam automasi laman sosial Facebook Pages perniagaan anda-->
        <!--<span>Gunakan kemampuan AI (Artificial Intelligence) didalam mengautomasi laman sosial Facebook Pages perniagaan anda</span>-->
        <!--</p>-->

        <!--</div>-->
        <!--</div>-->

        <div class="homepage-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-tachometer bar-icon hidden-xs"></i>
                        <div class="bar-textarea">
                            <h3>PANTAS DAN RESPONSIF</h3>
                            <p>Tiada lagi menunggu bermakna lebih terbaik.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-desktop bar-icon hidden-xs"></i>
                        <div class="bar-textarea">
                            <h3>MUDAH DIGUNAKAN DAN MINIMAL</h3>
                            <p>Tetapan yang mudah difahami serta lebih tepat.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-dollar bar-icon hidden-xs"></i>
                        <div class="bar-textarea">
                            <h3>HARGA YANG BERPATUTAN</h3>
                            <p>Memberikan lebih pulangan kepada pelaburan anda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row center">
                <div class="col-md-12">
                    <h2 class="mb-sm word-rotator-title">
                        Bizsaya, Membantu automasi laman sosial Facebook Pages perniagaan anda
                    </h2>
                    <p class="lead">
                        Bizsaya merupakan sebuah sistem yang digunakan dalam membantu pengurusan laman sosial
                        perniagaan anda bagi memacu perniagaan anda seiring dengan teknologi AI dan BOT.
                    </p>
                    <!--- to be launch when YOBB is ready -->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-8">-->
                            <!--<p>-->
                                <!--Cuba AI kami dengan klik pada <i>"Send to Messenger"</i>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-sm-4">-->
                            <!--<div class="fb-send-to-messenger"-->
                                 <!--messenger_app_id="196489067428768"-->
                                 <!--page_id="136294510112823"-->
                                 <!--data-ref="PASS_THROUGH_PARAM"-->
                                 <!--color="blue"-->
                                 <!--size="xlarge">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row center">
                <div class="col-md-12">
                    <div style="overflow: hidden;">
                        <img src="img/responsive.png" style="margin: 0 auto;" class="img-responsive" alt="responsive Bizsaya interface">
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="container">
            <div class="featured-boxes featured-boxes-style-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-bell"></i>
                                <h4>Notifikasi SMS, Emel dan PUSH Notification</h4>
                                <p>Notifikasi secara SMS, Emel dan PUSH Notification untuk memberi makluman kepada anda.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-secondary featured-box-effect-4" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-lock"></i>
                                <h4>Sekuriti maklumat</h4>
                                <p>Kami akan berusaha memastikan maklumat-maklumat perniagaan anda selamat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-tertiary featured-box-effect-4" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-desktop"></i>
                                <h4>Antaramuka moden</h4>
                                <p>Laman tetapan yang moden serta mudah difahami dan digunakan bagi anda.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-quaternary featured-box-effect-4" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-cogs"></i>
                                <h4>Tiada had tetapan</h4>
                                <p>Tiada had tetapan buat automasi yang anda inginkan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="tall">

        <div class="container">

            <div class="row">
                <div class="col-md-12 center">
                    <h2 class="heading-dark mb-none">Testimoni <strong>Pengguna</strong></h2>
                    <p class="mb-xl">Maklumbalas daripada anda amat berharga bagi kami</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/sassyrose.png" class="img-responsive" alt="">
                            </div>
                            <p><strong>John Smith</strong><span>CEO &amp; Founder - Okler</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/sassyrose.png" class="img-responsive" alt="">
                            </div>
                            <p><strong>John Smith</strong><span>CEO &amp; Founder - Okler</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/sassyrose.png" class="img-responsive" alt="">
                            </div>
                            <p><strong>John Smith</strong><span>CEO &amp; Founder - Okler</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/sassyrose.png" class="img-responsive" alt="">
                            </div>
                            <p><strong>John Smith</strong><span>CEO &amp; Founder - Okler</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-home').addClass('active');
    });
</script>

<script>

    window.fbAsyncInit = function () {
        FB.init({
            appId: "175920109485664",
            xfbml: true,
            version: "v2.6"
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[ 0 ];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

</body>

{{> end }}