{{> head }}

<body>

<div class="body">
    <div id="fb-root"></div>

    {{> header }}

    <div role="main" class="main">

        <div id="injectNotification"></div>

        <div class="container">

            <div class="row center">
                <div class="col-md-12">
                    <div style="overflow: hidden;">
                        <img src="img/responsive.png" style="margin: 0 auto; max-height: 450px" class="img-responsive" alt="responsive Bizsaya interface">
                    </div>
                </div>
            </div>

            <div class="row center">
                <div class="col-md-12">
                    <h2 class="mb-sm word-rotator-title">
                        <strong>Membantu</strong> automasi laman sosial Facebook Pages perniagaan anda
                    </h2>
                    <p class="lead">
                        Merupakan sebuah aplikasi atas talian yang dilengkapi dengan modul Komen, Mesej dan Broadcast bagi digunakan
                        dalam membantu pengurusan laman sosial perniagaan anda dengan mudah, ringkas, berkesan dan kos yang amat berbaloi
                    </p>
                </div>
            </div>

        </div>

        <hr class="tall">

        <div class="container">
            <div class="row mt-xl">
                <div class="counters counters-text-dark">
                    <div class="col-md-3 col-sm-6 hidden-xs">
                        <div class="counter appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                            <i class="fa fa-user"></i>
                            <strong id="stats-pages">0</strong>
                            <label>FB pages</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="counter appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                            <i class="fa fa-cloud-download"></i>
                            <strong id="stats-notification">0</strong>
                            <label>Notifikasi diterima</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="counter appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
                            <i class="fa fa-check-square-o"></i>
                            <strong id="stats-response">0</strong>
                            <label>Notifikasi dibalas</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 hidden-xs">
                        <div class="counter appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
                            <i class="fa fa-database"></i>
                            <strong id="stats-contacts">0</strong>
                            <label>Maklumat prospek yang disimpan</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="homepage-bar">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4">-->
                        <!--<i class="fa fa-assistive-listening-systems bar-icon hidden-xs"></i>-->
                        <!--<div class="bar-textarea">-->
                            <!--<h3>AI Natural Language Processing</h3>-->
                            <!--<p>Teknologi terbaharu untuk anda.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<i class="fa fa-desktop bar-icon hidden-xs"></i>-->
                        <!--<div class="bar-textarea">-->
                            <!--<h3>MUDAH DIGUNAKAN DAN MINIMAL</h3>-->
                            <!--<p>Tetapan yang mudah difahami serta lebih tepat.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<i class="fa fa-dollar bar-icon hidden-xs"></i>-->
                        <!--<div class="bar-textarea">-->
                            <!--<h3>HARGA YANG BERPATUTAN</h3>-->
                            <!--<p>Memberikan lebih pulangan kepada pelaburan anda.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="heading heading-border heading-middle-border heading-middle-border-center">-->
            <!--<h2>Ringkas tetapi <strong>Padat</strong></h2>-->
        <!--</div>-->

        <div class="container">
            <div class="featured-boxes featured-boxes-style-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="featured-box featured-box-secondary featured-box-effect-4 appear-animation animated" data-appear-animation="fadeInUp" data-appear-animation-delay="1000" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-image"></i>
                                <h4>Komen bergambar</h4>
                                <p>Anda boleh membalas komen berserta dengan gambar-gambar yang dimuat naik. Selain itu juga, Anda boleh "tag" nama pemberi komen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-primary featured-box-effect-4 appear-animation animated" data-appear-animation="fadeInUp" data-appear-animation-delay="2000" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-facebook-official"></i>
                                <h4>Notifikasi Personal</h4>
                                <p>Bizsaya akan menghantar notifikasi penting terus ke inbox FB personal anda. Tiada lagi terlepas pandang maklumat penting daripada prospek anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-tertiary featured-box-effect-4 appear-animation animated" data-appear-animation="fadeInUp" data-appear-animation-delay="3000" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-assistive-listening-systems"></i>
                                <h4>Maklumat prospek</h4>
                                <p>Bizsaya akan menyimpan maklumat nombor telefon atau emel yang diberikan oleh prospek anda secara automatik dan memaklumkan terus kepada anda.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-quaternary featured-box-effect-4 appear-animation animated" data-appear-animation="fadeInUp" data-appear-animation-delay="4000" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-cogs"></i>
                                <h4>Tiada had tetapan</h4>
                                <p>Tiada had tetapan khusus. Anda bebas untuk menetapkan berapa sahaja tetapan yang anda rasakan sesuai</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="section section-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2><strong>Mudah digunakan</strong>, minimal dan ringkas</h2>
                        <p class="lead text-justify">
                            Bizsaya merupakan sebuah aplikasi yang dibangunkan khas untuk automasikan pengurusan Facebook Page anda. Ini bermakna, Dengan hanya beberapa tetapan daripada anda, ianya akan berfungsi terus tanpa
                            memerlukan pantauan kerap daripada anda. Mudah. Bizsaya akan memaklumkan kepada anda sekiranya terdapat sesuatu yang diluar kemampuan Bizsaya
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img class="hidden-xs img-responsive appear-animation animated fadeInRight appear-animation-visible" src="img/bot-cart.png" alt="Mudah digunakan, minimal dan ringkas" data-appear-animation="fadeInRight">
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row mt-xl mb-xl">
                <div class="col-md-3">
                    <img class="img-responsive mt-xl appear-animation animated fadeInLeft appear-animation-visible" src="img/statistics.png" alt="Meningkatkan Rating dan happiness prospek anda" data-appear-animation="fadeInLeft">
                </div>
                <div class="col-md-9">
                    <h2 class="mt-xl">Kos penggunaan yang amat <strong>berpatutan</strong></h2>
                    <p class="lead text-justify">
                        Bizsaya dibangunkan dengan menggunakan teknologi terkini bagi memastikan ianya berjalan lancar serta effisyen. Dengan itu, kami mampu untuk meletakan harga yang amat-amat berpatutan serta
                        memberikan lebih pulangan kepada anda. Anda pasti terkejut dengan kos penggunaan aplikasi Bizsaya!
                    </p>
                </div>
            </div>
        </div>

        <h2 class="text-center" style="margin: 60px 0px;">
            <span class="alternative-font font-size-md mt-xl">dan banyak lagi yang harus dicuba, <strong><a href="{{ appurl }}">Daftar sekarang!</a></strong></span>
        </h2>

        {{> testimoni }}

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-database.js"></script>
<script src="js/firebase.js"></script>
<script>$(document).ready(function(){$("#menu-home").addClass("active");var b={pages:0,notification:0,response:0,contacts:0},c=window.location.href.slice(window.location.href.indexOf("?")+1).split("&");$.each(c,function(a,b){if("err=403"===b){var c="Sesi akaun telah tamat/tidak sah. Sila log masuk semula";$("#injectNotification").append('<div class="alert alert-danger"><div class="container">'+c+"</div></div>")}else if("err=401"===b){var c="Akaun anda telah tamat tempoh aktif ataupun dibatalkan. Sila buat pembayaran terlebih dahulu atau menghubungi kami di laman FB Bizsaya";c+='<br class="hidden-md hidden-lg" /><span class="hidden-xs hidden-sm">&nbsp; &nbsp; &nbsp;</span><div class="fb-messengermessageus" messenger_app_id="175920109485664" page_id="136294510112823" color="blue" size="xlarge" > </div> ',$("#injectNotification").append('<div class="alert alert-danger"><div class="container">'+c+"</div></div>")}}),FireBaseApp.database().ref("realtime_administrator").on("value",function(a){if(a.val()){var c=a.val();$("#stats-pages").countTo({from:b.pages,to:c.totalPages,speed:2e3,onComplete:function(a){b.pages=c.totalPages}}),$("#stats-notification").countTo({from:b.notification,to:c.totalRx,speed:2e3,onComplete:function(a){b.notification=c.totalRx}}),$("#stats-response").countTo({from:b.response,to:c.totalTx,speed:2e3,onComplete:function(a){b.response=c.totalTx}}),$("#stats-contacts").countTo({from:b.contacts,to:c.totalContactProcess,speed:2e3,onComplete:function(a){b.contacts=c.totalContactProcess}})}})});</script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}