{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <div class="slider-container light rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider
                 data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 600}'>
                <ul>
                    <li data-transition="fade">
                        <img src="img/slider/cover.jpg"
                             alt="Halaman utama Bizsaya"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg">
                    </li>
                </ul>
            </div>
        </div>

        <!--<div class="home-intro" id="home-intro">-->
        <!--<div class="container">-->

        <!--<p>-->
        <!--<em>Bizsaya</em>, Membantu didalam automasi laman sosial Facebook Pages perniagaan anda-->
        <!--<span>Gunakan kemampuan AI (Artificial Intelligence) didalam mengautomasi laman sosial Facebook Pages perniagaan anda</span>-->
        <!--</p>-->

        <!--</div>-->
        <!--</div>-->

        <div class="homepage-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-tachometer bar-icon hidden-xs"></i>
                        <div class="bar-textarea">
                            <h3>PANTAS DAN RESPONSIF</h3>
                            <p>Tiada lagi menunggu bermakna lebih terbaik.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-desktop bar-icon hidden-xs"></i>
                        <div class="bar-textarea">
                            <h3>MUDAH DIGUNAKAN DAN MINIMAL</h3>
                            <p>Tetapan yang mudah difahami serta lebih tepat.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-dollar bar-icon hidden-xs"></i>
                        <div class="bar-textarea">
                            <h3>HARGA YANG BERPATUTAN</h3>
                            <p>Memberikan lebih pulangan kepada pelaburan anda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row center">
                <div class="col-md-12">
                    <h2 class="mb-sm word-rotator-title">
                        Bizsaya, Membantu automasi laman sosial Facebook Pages perniagaan anda
                    </h2>
                    <p class="lead">
                        Bizsaya merupakan sebuah sistem yang digunakan dalam membantu pengurusan laman sosial
                        perniagaan anda bagi memacu perniagaan anda seiring dengan teknologi AI dan BOT.
                    </p>
                    <!--- to be launch when YOBB is ready -->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-8">-->
                            <!--<p>-->
                                <!--Cuba AI kami dengan klik pada <i>"Send to Messenger"</i>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-sm-4">-->
                            <!--<div class="fb-send-to-messenger"-->
                                 <!--messenger_app_id="196489067428768"-->
                                 <!--page_id="136294510112823"-->
                                 <!--data-ref="PASS_THROUGH_PARAM"-->
                                 <!--color="blue"-->
                                 <!--size="xlarge">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row center">
                <div class="col-md-12">
                    <div style="overflow: hidden;">
                        <img src="img/responsive.png" style="margin: 0 auto;" class="img-responsive" alt="responsive Bizsaya interface">
                    </div>
                </div>
            </div>
        </div>

        <div class="heading heading-border heading-middle-border heading-middle-border-center">
            <h2>Ringkas tetapi <strong>Padat</strong></h2>
        </div>

        <div class="container">
            <div class="featured-boxes featured-boxes-style-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-bell"></i>
                                <h4>Notifikasi SMS, Emel dan PUSH Notification</h4>
                                <p>Notifikasi secara SMS, Emel dan PUSH Notification untuk memberi notifikasi penting kepada anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-secondary featured-box-effect-4" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-lock"></i>
                                <h4>Sekuriti maklumat</h4>
                                <p>Kami akan 100% berusaha memastikan maklumat-maklumat yang diberikan kepada kami adalah selamat daripada pihak ketiga</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-tertiary featured-box-effect-4" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-assistive-listening-systems"></i>
                                <h4>Artificial Intelligence</h4>
                                <p>AI yang akan memahami corak komen dan soalan yang diberikan dan memberikan jawapan berdasarkan maklumat yang anda sediakan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-quaternary featured-box-effect-4" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-cogs"></i>
                                <h4>Tiada had tetapan</h4>
                                <p>Tiada had tetapan khusus. Anda bebas untuk menetapkan berapa sahaja tetapan yang anda rasakan sesuai</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading heading-border heading-middle-border heading-middle-border-center">
            <h2>Testimoni <strong>Pengguna</strong></h2>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>Sangat membantu dalam menguruskan perniagaan terutama kepada yang berkerja dan mempunyai perniagaan sampingan. High recomended!</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/elsuha.jpg" class="img-responsive" alt="Nasuha Ahmad - Elsuhaz Beauty Resources">
                            </div>
                            <p>
                                <strong>Nasuha Ahmad</strong>
                                <span>
                                    <a href="https://www.facebook.com/Elsuhaz-Beauty-Resources-1507342392893572">Elsuhaz Beauty Resources</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>Aplikasi YOBB membantu mempercepatkan dan menguruskan jualan harian melalui FB secara automatik. Syarikat kami dapat mengurangkan kos sampingan (gaji pekerja) sebanyak 70%!!! Highly recommended automated system!</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/sassyrose.png" class="img-responsive" alt="Muhammad Ariff - SassyRose.my">
                            </div>
                            <p>
                                <strong>Muhammad Ariff</strong>
                                <span>
                                    <a href="https://www.facebook.com/sassyrose.my/?fref=ts">SassyRose.my</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>
                                sebelum nie tulis kat buku lejar aje segala transaction dalam business..paling cangih pon download aplikasi dalam apps store untuk record transaksi perniagaan..
                                tapi still smua in wording dan nombor..kadang2 pening tgk..tp dengan page Bizsaya.com..senang nk tgk history transaction..
                                main page dia aje dah tunjuk perjalanan perniagaan saya. MEMANG RECOMMENDED dekat smua peniaga yang ingin maju dalam business.
                            </p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/hh_savoury_bakery.jpg" class="img-responsive" alt="Huda Mahadno - HH Savoury Bakery">
                            </div>
                            <p>
                                <strong>Huda Mahadno</strong>
                                <span>
                                    <a href="https://www.facebook.com/hhsavourybakery">HH Savoury Bakery</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!--<div class="testimonial testimonial-style-3">-->
                        <!--<blockquote>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>-->
                        <!--</blockquote>-->
                        <!--<div class="testimonial-arrow-down"></div>-->
                        <!--<div class="testimonial-author">-->
                            <!--<div class="testimonial-author-thumbnail">-->
                                <!--<img src="img/clients/sassyrose.png" class="img-responsive" alt="">-->
                            <!--</div>-->
                            <!--<p><strong>John Smith</strong><span>CEO &amp; Founder - Okler</span></p>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-home').addClass('active');
    });
</script>

<script>

    window.fbAsyncInit = function () {
        FB.init({
            appId: "175920109485664",
            xfbml: true,
            version: "v2.6"
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[ 0 ];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

</body>

{{> end }}