{{> head }}

<body>

<div class="body">
    <div id="fb-root"></div>

    {{> header }}

    <div role="main" class="main">

        <div id="injectNotification"></div>

        <div class="container">

            <div class="row center">
                <div class="col-md-12">
                    <div style="overflow: hidden;">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/bizsaya-assets/responsive.png?ver=1.3.3" style="margin: 0 auto; max-height: 450px" class="img-responsive" alt="responsive Bizsaya interface">
                    </div>
                </div>
            </div>

            <div class="row center">
                <div class="col-md-12">
                    <h2 class="mb-sm word-rotator-title">
                        <strong>Membantu</strong> automasi laman sosial Facebook Pages perniagaan anda
                    </h2>
                    <p class="lead">
                        Merupakan sebuah aplikasi atas talian yang dilengkapi dengan modul Komen, Mesej dan Broadcast bagi digunakan
                        dalam membantu pengurusan laman sosial perniagaan anda dengan mudah, ringkas, berkesan dan kos yang amat berbaloi
                    </p>
                </div>
            </div>

        </div>

        <hr class="tall">

        <div class="container">
            <div class="row mt-xl">
                <div class="counters counters-text-dark">
                    <div class="col-md-3 col-sm-6 hidden-xs">
                        <div class="counter appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                            <i class="fa fa-user"></i>
                            <strong id="stats-pages">0</strong>
                            <label>FB pages</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="counter appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                            <i class="fa fa-cloud-download"></i>
                            <strong id="stats-notification">0</strong>
                            <label>Notifikasi diterima</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="counter appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
                            <i class="fa fa-check-square-o"></i>
                            <strong id="stats-response">0</strong>
                            <label>Notifikasi dibalas</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 hidden-xs">
                        <div class="counter appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
                            <i class="fa fa-database"></i>
                            <strong id="stats-contacts">0</strong>
                            <label>Maklumat fans yang disimpan</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="homepage-bar">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4">-->
                        <!--<i class="fa fa-assistive-listening-systems bar-icon hidden-xs"></i>-->
                        <!--<div class="bar-textarea">-->
                            <!--<h3>AI Natural Language Processing</h3>-->
                            <!--<p>Teknologi terbaharu untuk anda.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<i class="fa fa-desktop bar-icon hidden-xs"></i>-->
                        <!--<div class="bar-textarea">-->
                            <!--<h3>MUDAH DIGUNAKAN DAN MINIMAL</h3>-->
                            <!--<p>Tetapan yang mudah difahami serta lebih tepat.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<i class="fa fa-dollar bar-icon hidden-xs"></i>-->
                        <!--<div class="bar-textarea">-->
                            <!--<h3>HARGA YANG BERPATUTAN</h3>-->
                            <!--<p>Memberikan lebih pulangan kepada pelaburan anda.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="heading heading-border heading-middle-border heading-middle-border-center">-->
            <!--<h2>Ringkas tetapi <strong>Padat</strong></h2>-->
        <!--</div>-->

        <div class="container">
            <div class="featured-boxes featured-boxes-style-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="featured-box featured-box-secondary featured-box-effect-4 appear-animation animated" data-appear-animation="fadeInUp" data-appear-animation-delay="1000" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-image"></i>
                                <h4>Komen bergambar</h4>
                                <p>Anda boleh membalas komen berserta dengan gambar-gambar yang dimuat naik. Selain itu juga, Anda boleh "tag" nama pemberi komen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-primary featured-box-effect-4 appear-animation animated" data-appear-animation="fadeInUp" data-appear-animation-delay="2000" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-facebook-official"></i>
                                <h4>Notifikasi Personal</h4>
                                <p>Bizsaya akan menghantar notifikasi penting terus ke inbox FB personal anda. Tiada lagi terlepas pandang maklumat penting daripada fans anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-tertiary featured-box-effect-4 appear-animation animated" data-appear-animation="fadeInUp" data-appear-animation-delay="3000" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-assistive-listening-systems"></i>
                                <h4>Maklumat fans</h4>
                                <p>Bizsaya akan menyimpan maklumat nombor telefon atau emel yang diberikan oleh fans FB Page anda secara automatik dan memaklumkan terus kepada anda.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="featured-box featured-box-quaternary featured-box-effect-4 appear-animation animated" data-appear-animation="fadeInUp" data-appear-animation-delay="4000" style="height: 194px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-cogs"></i>
                                <h4>Tiada had tetapan</h4>
                                <p>Tiada had tetapan khusus. Anda bebas untuk menetapkan berapa sahaja tetapan yang anda rasakan sesuai</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="section section-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2><strong>Mudah digunakan</strong>, minimal dan ringkas</h2>
                        <p class="lead text-justify">
                            Bizsaya merupakan sebuah aplikasi yang dibangunkan khas untuk automasikan pengurusan Facebook Page anda. Ini bermakna, Dengan hanya beberapa tetapan daripada anda, ianya akan berfungsi terus tanpa
                            memerlukan pantauan kerap daripada anda. Mudah. Bizsaya akan memaklumkan kepada anda sekiranya terdapat sesuatu yang diluar kemampuan Bizsaya
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img class="hidden-xs img-responsive appear-animation animated fadeInRight appear-animation-visible" src="https://s3-ap-southeast-1.amazonaws.com/bizsaya-assets/bot-cart.png" alt="Mudah digunakan, minimal dan ringkas" data-appear-animation="fadeInRight">
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row mt-xl mb-xl">
                <div class="col-md-3">
                    <img class="img-responsive mt-xl appear-animation animated fadeInLeft appear-animation-visible" src="https://s3-ap-southeast-1.amazonaws.com/bizsaya-assets/statistics.png" alt="Meningkatkan Rating dan happiness fans Facebook Page" data-appear-animation="fadeInLeft">
                </div>
                <div class="col-md-9">
                    <h2 class="mt-xl">Kos penggunaan yang amat <strong>berpatutan</strong></h2>
                    <p class="lead text-justify">
                        Bizsaya dibangunkan dengan menggunakan teknologi terkini bagi memastikan ianya berjalan lancar serta effisyen. Dengan itu, kami mampu untuk meletakan harga yang amat-amat berpatutan serta
                        memberikan lebih pulangan kepada anda. Anda pasti terkejut dengan kos penggunaan aplikasi Bizsaya!
                    </p>
                </div>
            </div>
        </div>

        <h2 class="text-center" style="margin: 60px 0px;">
            <span class="alternative-font font-size-md mt-xl">dan banyak lagi yang harus dicuba, <strong><a href="{{ appurl }}">Daftar sekarang!</a></strong></span>
        </h2>

        <div class="heading heading-border heading-middle-border heading-middle-border-center">
            <h2>Testimoni <strong>Pengguna</strong></h2>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>alhamdulillah.. amat berpuas hati dan sangat membantu memudah kerja lagi.. tak perlu dah nak pergi komen dan pm sorang2..</p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="https://graph.facebook.com/187675408040102/picture" class="img-responsive" alt="Q'Sarra Beauty">
                            </div>
                            <p>
                                <strong>Q'Sarra Beauty</strong>
                                <span>
                                    <a href="https://www.facebook.com/187675408040102">Q'Sarra Beauty</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>
                                Sy suka apps nie sbb murah. Hehe, Jimat masa, Xperlu nk replay sowg2 scra manual, Sy just tgk page 2 3 jam skli jer, Klau dlu setiap 10 mnt kena tgk page
                            </p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="https://graph.facebook.com/741622222677915/picture" class="img-responsive" alt="Muhammad Fakharudin - Tips Hilangkan Jerawat">
                            </div>
                            <p>
                                <strong>Muhammad Fakharudin</strong>
                                <span>
                                    <a href="https://www.facebook.com/741622222677915">Tips Hilangkan Jerawat</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>
                                setakat sy guna bizsaya ini,ia memudahkan saya berurusan.Tidak perlu tergesa2 risau tidak berjawab pm2 di ruangan komen..semua dijawab oleh bizsaya..
                                <br>
                                nak kumpul data hp num pun senang,semua bizsya uruskan,.Ia memudahkan.dan menjimatkan masa kami.tq
                            </p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="https://graph.facebook.com/1204538606302505/picture" class="img-responsive" alt="Jus Ikhlas Sepang - Rahsia Halia Bentong Perawat Kencing Manis Jantung Gout Dan Dalaman">
                            </div>
                            <p>
                                <strong>Jus Ikhlas Sepang</strong>
                                <span>
                                    <a href="https://www.facebook.com/1204538606302505">Rahsia Halia Bentong Perawat Kencing Manis Jantung Gout Dan Dalaman</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>
                                Memang terbaik apps ini!!! Interface nya sangat mudah difahami dan senang digunakan... Semenjak saya gunakan BIZSAYA, prospek sangat gembira kerana mereka mendapat respon komen dan mesej yang cepat.. Hasilnya, rating close sales akan meningkat.. Cuma key in sahaja word yang sesuai dan BIZSAYA akan lakukan selebihnya...

                                Terima Kasih kepada Tuan Eddy kerana develop apps ini, sangat membantu usahawan online seperti saya.. Mudahan tuan dimurahkan rezeki dan dipermudahkan segala urusan..

                                Terima Kasih...
                            </p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/Affiliate_for_Newbies.jpg" class="img-responsive" alt="Mohd Hisyamudin Bolhassan - Affiliate for Newbies">
                            </div>
                            <p>
                                <strong>Mohd Hisyamudin Bolhassan</strong>
                                <span>
                                    <a href="https://www.facebook.com/Affiliate-for-Newbies-1556968170987918">Affiliate for Newbies</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>
                                Alhamdulillah.. sejak menggunakan Bizsaya, bisnes saya lebih tersusun dan jualan meningkay.
                                <br>
                                Customer lebih teruja bila kita reply pm mereka sepantas kilat setiap masa. Padahal kite guna auto reply je.
                                Dan ianya sangat2 berkesan dan terasa ada hubungan erat bila customer menjawab setiap pertanyaan kita.
                                Tq tuan Eddy😊
                            </p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="https://graph.facebook.com/1682843288704552/picture" class="img-responsive" alt="Sharifah Salma Jamalullail - Nasi Arab Power">
                            </div>
                            <p>
                                <strong>Sharifah Salma Jamalullail</strong>
                                <span>
                                    <a href="https://www.facebook.com/1682843288704552">Nasi Arab Power</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>
                                Sangat membantu melancarkan proses menjawab setiap pm dari fans. <br>
                                Juga sentiasa upgrade mengikut permintaan pengguna bizsaya. <br>
                                Sgt recommended!  Harga pula sangat berbaloi 🙂 <br>
                            </p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="https://graph.facebook.com/332221333489915/picture" class="img-responsive" alt="Rozaihan Razali- PIPOP~PinkyPonkyPrincess">
                            </div>
                            <p>
                                <strong>Rozaihan Razali</strong>
                                <span>
                                    <a href="https://www.facebook.com/332221333489915">PIPOP~PinkyPonkyPrincess</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>
                                Allhamdulillah BIZSAYA banyak bantu saya....
                                .Selama ni terpaksa UPAH kawan 😂😂 untuk reply komen dan inbox.... ..
                                .
                                sebab Nak prospek YAKIN dgn kita. kene lah reply cepat kn..... hahaha
                                .
                                >saya pula bru nk berjinak nk berniaga online.. sebelum ni ada nmpak AUTOPM.. tp mahal sangat.... dlm hati kata "mula dgn apa yg ada dulu laaa"
                                .
                                tempoh hari sya dpt BIZSAYA dri kwn sya.. TERNYATA BIZSAYA lebih POWER! JIMAT! sangat berbaloi sngtt....

                                .Jadi sekarang saya dh Jimat masa, Wang dan Automatiskan Page2 saya.....

                                tq tn bab layan sya bnyak soalan dlm bizsaya......
                                .
                                24 jam SUPPORT!!! tu yg bestt👍👍👍👍👍👍
                            </p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="img/clients/pakar_polish.jpg" class="img-responsive" alt="Erdy Azezy Bin Sohardi - Pakar Polish 8 in 1">
                            </div>
                            <p>
                                <strong>Erdy Azezy Bin Sohardi</strong>
                                <span>
                                    <a href="https://www.facebook.com/polish.expert.8in1/">Pakar Polish 8 in 1</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial testimonial-style-3">
                        <blockquote>
                            <p>
                                Player tegar fb ads, korang mesti guna bizsaya. Murah ya amat. Yang paling penting keje memang jadi mudah dah. Komen, pm semua auto. Korang boleh tidur jap
                                <br><br>
                                Overall memang puas hati sistem lajuuuu
                            </p>
                        </blockquote>
                        <div class="testimonial-arrow-down"></div>
                        <div class="testimonial-author">
                            <div class="testimonial-author-thumbnail">
                                <img src="https://graph.facebook.com/292895242351/picture" class="img-responsive" alt="Zahidah Mohd Isa - Women Desiree Suffah Beauty">
                            </div>
                            <p>
                                <strong>Zahidah Mohd Isa</strong>
                                <span>
                                    <a href="https://www.facebook.com/292895242351">Women Desiree Suffah Beauty</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-database.js"></script>
<script src="js/firebase.js"></script>
<script>$(document).ready(function(){$("#menu-home").addClass("active");var b={pages:0,notification:0,response:0,contacts:0},c=window.location.href.slice(window.location.href.indexOf("?")+1).split("&");$.each(c,function(a,b){if("err=403"===b){var c="Sesi akaun telah tamat/tidak sah. Sila log masuk semula";$("#injectNotification").append('<div class="alert alert-danger"><div class="container">'+c+"</div></div>")}else if("err=401"===b){var c="Akaun anda telah tamat tempoh aktif ataupun dibatalkan. Sila buat pembayaran terlebih dahulu atau menghubungi kami di laman FB Bizsaya";c+='<br class="hidden-md hidden-lg" /><span class="hidden-xs hidden-sm">&nbsp; &nbsp; &nbsp;</span><div class="fb-messengermessageus" messenger_app_id="175920109485664" page_id="136294510112823" color="blue" size="xlarge" > </div> ',$("#injectNotification").append('<div class="alert alert-danger"><div class="container">'+c+"</div></div>")}}),FireBaseApp.database().ref("realtime_administrator").on("value",function(a){if(a.val()){var c=a.val();$("#stats-pages").countTo({from:b.pages,to:c.totalPages,speed:2e3,onComplete:function(a){b.pages=c.totalPages}}),$("#stats-notification").countTo({from:b.notification,to:c.totalRx,speed:2e3,onComplete:function(a){b.notification=c.totalRx}}),$("#stats-response").countTo({from:b.response,to:c.totalTx,speed:2e3,onComplete:function(a){b.response=c.totalTx}}),$("#stats-contacts").countTo({from:b.contacts,to:c.totalContactProcess,speed:2e3,onComplete:function(a){b.contacts=c.totalContactProcess}})}})});</script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}