{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Modul dan kebaikan <span>Apa yang disediakan untuk anda dan kebaikkan bagi perniagaan anda</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Modul</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="text-center">
                <h2><strong>Automasikan</strong> laman sosial Facebook Page anda dengan Bizsaya!</h2>
                <p class="lead">
                    Dengan menggunakan Bizsaya, Tugasan untuk melayan pelanggan-pelanggan anda di laman sosial Facebook Page anda akan menjadi lebih mudah
                    serta lebih tersusun. Dengan menggunakan Bizsaya, anda boleh untuk .....
                </p>
            </div>

        </div>

        <hr class="short">

        <div class="container">

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-commenting-o"></i>
                                <h4>Balas komen</h4>
                                <p>Balas komen yang diberikan di <i><strong>post</strong></i> Facebook Page anda secara automatik berdasarkan tetapan yang anda telah nyatakan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-thumbs-up"></i>
                                <h4><i><b>Like</b></i> komen</h4>
                                <p>Like komen yang diberikan secara automatik bagi menghargai fans yang berinteraksi dengan Facebook Page anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-mobile"></i>
                                <h4>Hubungi saya</h4>
                                <p>Menerima notifikasi secara automatik sekiranya terdapat fans yang ingin berinteraksi terus dengan anda melalui whatsapp atau menghubungi anda secara <i><b>personal</b></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-assistive-listening-systems"></i>
                                <h4>Komen AI</h4>
                                <p>Anda boleh mengajar AI Bizsaya untuk membalas komen di Facebook page anda secara automatik. Tiada tetapan yang diperlukan. Hanya ajar AI Bizsaya, dan ianya akan <i><b>self-learning</b></i> [Akan datang]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="featured-boxes featured-boxes-style-6">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                        <div class="box-content">
                            <i class="icon-featured fa fa-comments-o"></i>
                            <h4>Balas inbox</h4>
                            <p>Balas komen yang dihantar ke inbox Facebook Page anda secara automatik, Anda boleh memberikan tetapan anda sendiri mahupun hanya menggunakan Bizsaya untuk menjawabnya</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                        <div class="box-content">
                            <i class="icon-featured fa fa-credit-card"></i>
                            <h4>Jualan Dari Inbox</h4>
                            <p>Bizsaya mampu untuk menerima maklumat pembelian daripada fans Facebook Page anda. Oh, Ianya juga mampu untuk memaparkan item-item yang anda jual beserta dengan maklumat item tersebut!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                        <div class="box-content">
                            <i class="icon-featured fa fa-exchange"></i>
                            <h4>Kembali ke anda</h4>
                            <p>Mungkin akan terdapat perbincangan yang Bizsaya tidak mampu untuk menguruskannya. Bizsaya mampu untuk memaklumkan kepada fans Facebook Page anda sekiranya mereka ingin bercakap terus dengan anda</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="featured-box featured-box-quaternary featured-box-effect-2" style="height: 206px;">
                        <div class="box-content">
                            <i class="icon-featured fa fa-qrcode"></i>
                            <h4>Poster Perniagaan ™</h4>
                            <p>Paparkan item-item yang anda jual diatas talian menggunakan Poster Perniagaan™ Bizsaya. Item yang anda jual akan terus mempunyai akses kepada AI Bizsaya [Akan datang]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <section class="section section-default">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2><strong>Mudah digunakan</strong>, minimal dan ringkas</h2>
                    <p class="lead text-justify">
                        Bizsaya merupakan sebuah aplikasi yang dibangunkan khas untuk automasikan pengurusan Facebook Page anda. Ini bermakna, Dengan hanya beberapa tetapan daripada anda, ianya akan berfungsi terus tanpa
                        memerlukan pantauan kerap daripada anda. Mudah. Bizsaya akan memaklumkan kepada anda sekiranya ianya terdapat sesuatu yang diluar kemampuan Bizsaya
                    </p>
                </div>
                <div class="col-md-3">
                    <img class="hidden-xs img-responsive appear-animation animated fadeInRight appear-animation-visible" src="img/bot-cart.png" alt="" data-appear-animation="fadeInRight">
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row mt-xl mb-xl">
            <div class="col-md-3">
                <img class="img-responsive mt-xl appear-animation animated fadeInLeft appear-animation-visible" src="img/statistics.png" alt="" data-appear-animation="fadeInLeft">
            </div>
            <div class="col-md-9">
                <h2 class="mt-xl"><strong>Meningkatkan Rating</strong> dan happiness fans Facebook Page</h2>
                <p class="lead text-justify">
                    Dengan menggunakan Bizsaya, pertanyaan lazim yang kerap ditanya oleh fans Facebook Page anda boleh dijawap secara automatik secara terus dan pantas. Ini secara tidak langsung,
                    fans Facebook Page anda akan rasa lebih dihargai dan dilayan
                </p>
            </div>
        </div>
    </div>

    <hr>

    <h2 class="text-center">
        <span class="alternative-font font-size-md mt-xl">dan banyak lagi yang harus dirasai sendiri, <strong><a href="{{ appurl }}">Cuba sekarang!</a></strong></span>
    </h2>

</div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-offer').addClass('active');
    });
</script>

</body>

{{> end }}