{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Tawaran dan kebaikan <span>Apa yang disediakan untuk anda dan kebaikkan bagi perniagaan anda</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Kebaikan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="text-center">
                <h2><strong>Automasikan</strong> laman sosial Facebook Page anda dengan Bizsaya!</h2>
                <p class="lead">
                    Dengan menggunakan Bizsaya, Tugasan untuk melayan pelanggan-pelanggan anda di laman sosial Facebook Page anda akan menjadi lebih mudah
                    serta lebih tersusun. Dengan menggunakan Bizsaya, anda boleh untuk .....
                </p>
            </div>

        </div>

        <hr class="short">

        <div class="container">

            <div class="featured-boxes featured-boxes-style-6">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-primary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-comment-o"></i>
                                <h4>Balas komen</h4>
                                <p>Balas komen yang diberikan di <i><strong>post</strong></i> Facebook Page anda secara automatik berdasarkan tetapan yang anda telah nyatakan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-primary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-thumbs-up"></i>
                                <h4><i><b>Like</b></i> komen</h4>
                                <p>Like komen yang diberikan secara automatik bagi menghargai fans yang berinteraksi dengan Facebook Page anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-primary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-mobile"></i>
                                <h4>Hubungi saya</h4>
                                <p>Menerima notifikasi secara automatik sekiranya terdapat fans yang ingin berinteraksi terus dengan anda melalui whatsapp atau menghubungi anda personally</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="featured-box featured-box-primary featured-box-effect-2" style="height: 206px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-cogs"></i>
                                <h4>Komen AI</h4>
                                <p>Anda boleh mengajar AI Bizsaya untuk membalas komen di Facebook page anda secara automatik. Tiada tetapan yang diperlukan. Hanya ajar AI Bizsaya, dan ianya akan <i><b>self-learning</b></i> [Akan datang]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>
<script>
    $(document).ready(function () {
        $('#menu-offer').addClass('active');
    });
</script>

</body>

{{> end }}