{{> head }}

<body>

    <div class="body">

        {{> header }}

            <div role="main" class="main">

                <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Harga pakej <span>Tawaran harga yang disediakan untuk anda.</span></h1>
                                <ul class="breadcrumb breadcrumb-valign-mid">
                                    <li><a href="/">Utama</a></li>
                                    <li class="active">Harga</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">

                    <section class="call-to-action call-to-action-default button-centered mb-xl appear-animation animated fadeIn appear-animation-visible">
                        <div class="call-to-action-content">
                            <h3>Hanya 1 pakej untuk <strong>semua</strong> fungsi dan modul yang disediakan!</h3>
                            <p>
                                Usah pening kepala dan buang masa untuk membuat pilihan. Kini semuanya dibawah satu
                                <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}' style="margin-top: -5px;">
                                    <span class="word-rotate-items">
                                        <span>pakej</span>
                                        <span>payung</span>
                                        <span>tetapan</span>
                                        <span>plan</span>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </section>

                    <div class="row">
                        <div class="pricing-table">
                            <div class="col-md-4 col-sm-6 center col-md-offset-4 col-sm-offset-3">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper"><div class="plan-ribbon">Terbaik</div></div>
                                    <h3>BOT<span><small><small>RM</small></small>10</span></h3>
                                    <a class="btn btn-lg btn-primary" href="{{ appurl }}">Daftar</a>
                                    <ul>
                                        <li><strong>Tanpa had</strong> tetapan komen</li>
                                        <li><strong>Tanpa had</strong> tetapan YOBB</li>
                                        <li><strong>Tanpa had</strong> transaksi masuk dan keluar</li>
                                        <li><strong>Tanpa had</strong> maklumat fans *</li>
                                        <li><strong>Tanpa had</strong> jumlah produk **</li>
                                        <li>Setiap FB Page ***</li>
                                        <li><strong>15 hari</strong> tempoh percubaan</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="tall">

                    <div class="row">
                        <div class="col-sm-6 col-md-4 text-justify">
                            <h4 class="mb-none">Apa itu Bizsaya</h4>
                            <p>Bizsaya adalah sebuah aplikasi atas talian yang digunakan untuk mengautomasikan beberapa perkara di laman sosial Facebook Page perniagaan anda.</p>
                            <p>Komen yang diberikan di setiap <i><b>Post</b></i> Facebook Page anda akan dijawab oleh Bizsaya menggunakan tetapan yang anda berikan.</p>
                            <p>Ini memastikan setiap pertanyaan lazim yang ada di komen Facebook Page anda terjawab dan seterusnya meningkatkan lagi rating respon balas Facebook Page anda</p>
                            <p>Selain itu juga, Bizsaya akan menjawab semua mesej yang masuk ke inbox Facebook Page anda dengan menggunakan kemampuan Artificial Intelligence Natural Language Processing</p>

                            <hr>

                            <h4 class="mb-none">Bagaimana untuk saya berinteraksi sendiri dengan pelanggan saya?</h4>
                            <p>Mudah, dengan hanya anda sendiri yang menghantar mesej ke pelanggan anda, Bizsaya akan terus berhenti daripada melayan <b><i>thread</i></b> mesej tersebut.</p>
                            <p>
                                Begitu juga dengan pelanggan anda, Sekiranya mereka ingin berinteraksi terus dengan anda, Pelanggan anda hanya perlu taip STOP atau klik pada <b><i>Button</i></b> STOP.
                                Bizsaya akan memaklumkan kepada anda menggunakan <b><i>Push notification</i></b> atau emel bagi menyatakan terdapat pelanggan yang sedang menunggu untuk berinteraksi dengan anda.
                            </p>

                            <hr>

                            <h4 class="mb-none">Komen balas bergambar dan mesej balas bergambar</h4>

                            <p>Terdapat 2 cara yang anda boleh gunakan untuk komen balas bergambar. Sama ada gambar yang digunakan untuk membalas adalah spesifik kepada tetapan yang diberikan atau menggunakan gambar daripada modul media</p>

                            <p>Sekiranya anda memilih untuk gambar balas spesifik kepada tetapan. Hanya maximum 3 gambar yang dibenarkan dan hanya 1 sahaja yang akan dipaparkan (dipilih secara rawak) dan hanya pada komen balas <strong>public</strong> sahaja</p>

                            <p>Bagi mesej balas bergambar. Semua gambar yang dimuat naik akan dipaparkan.</p>

                            <p>Sekiranya anda memilih untuk balas gambar dari modul media. Proses adalah seperti balas gambar secara spesifik kepada tetapan, Cuma gambar diambil daripada modul media.</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h4 class="mb-none">Apa itu Artificial Intelligence (AI) Natural Language Processing (NLP) dan YOBB</h4>
                            <p>Artificial Intelligence atau ringkasnya AI merupakan satu bentuk pengaturcaraan komputer yang digunakan untuk menyelesaikan sesuatu masalah dengan menggunakan "Learning" daripada corak maklumat-maklumat sebelumnya</p>
                            <p>Natural Language Processing atau ringkasnya NLP pula merupakan salah satu cabang daripada AI yang digunakan untuk memahami struktur bahasa yang diberikan dan mengubah maklumat yang diterima kepada arahan yang berkaitan</p>
                            <p>Bagi Bizsaya, AI NLP yang dinamakan YOBB ini digunakan bagi memahami perkataan yang diberikan oleh fans Facebook Page anda dan menjawab/membalas mesej yang diberikan kepada fans Facebook Page anda dengan automatik. Untuk masa sekarang, YOBB difokuskan untuk memahami Bahasa Melayu.</p>
                            <p>YOBB menggunakan cara klasifikasi perkataan yang diberikan kepadanya.</p>
                            <p>
                                Setiap hari, YOBB akan diajar perkataan-perkataan baru yang akan diberi klasifikasi dan respon balas yang bersesuaian dengan klasifikasi yang diberikan.
                                Dengan ini, YOBB akan semakin "Learning" mengenai perkataan-perkataan yang ada dan seterusnya mengunakan kesilapan dan tunjuk ajar klasifikasi yang diberikan untuk
                                memberikan respon yang lebih bermakna buat fans Facebook Page anda
                            </p>

                            <hr>

                            <h4 class="mb-none">Berapa kalikah Bizsaya akan dikemaskini?</h4>
                            <p>
                                Oleh kerana saya menjalankan perniagaan ini sebagai pendapat sampingan disamping membantu memudahkan urusan anda menguruskan Facebook Page anda, Saya akan sentiasa mengemaskini YOBB pada setiap malam dan aplikasi utama pada setiap minggu.
                            </p>

                            <p>
                                Oleh itu, segala pandangan / pendapat / cadangan / komplen anda boleh dihantar terus kepada saya di info@bizsaya.com. Insha Allah saya akan sentiasa menjawab emel anda.
                            </p>

                        </div>
                        <div class="col-sm-6 col-md-4">

                            <h4 class="mb-none">Bagaimana dengan data privasi?</h4>
                            <p>
                                Adalah untuk maklumat anda, <strong>Kami di Bizsaya tidak akan menjual atau menggunakan data yang diberikan kepada pihak ketiga</strong>. Semua maklumat-maklumat tersebut hanyalah digunakan untuk
                                menambah baik aplikasi Bizsaya dan sebagai statistik global yang kami akan meminta kebenaran anda untuk mendapatkannya. Statik ini boleh digunakan untuk tujuan marketing anda mahupun laporan kajian.
                            </p>
                            <p>
                                Kami juga akan cuba sedaya upaya untuk memastikan data dan maklumat yang ada selamat daripada diceroboh biarpun didalam aplikasi Bizsaya, Tiada maklumat yang disimpan untuk jangka masa panjang.
                                Oleh kerana maklumat Bizsaya datang daripada Facebook, anda juga perlu mengetahui polisi privasi Facebook.
                            </p>
                            <p>
                                Tiada maklumat sulit yang disimpan didalam aplikasi Bizsaya mahupun diperlukan oleh Bizsaya. YOBB akan menggunakan maklumat-maklumat yang diberikan oleh anda dan itu sahaja.
                            </p>

                            <hr>

                            <h4 class="mb-none">Bagaimana cara untuk saya membayar?</h4>
                            <p>
                                Buat masa sekarang, Bizsaya tidak menyediakan lagi fungsi "auto-payment"/"auto-debit" payment daripada debit/credit card anda.
                                Oleh itu, anda perlu membuat pembayar ke no account yang diberikan (Boleh didapati di Profil Pengguna)
                                dan memuat naik bukti pembayaran tersebut ke aplikasi (Boleh didapati di Profil Pengguna) ataupun Whatsapp ke nombor yang diberikan (Boleh didapati di Profil Pengguna)
                            </p>
                            <p>
                                Bizsaya digunakan secara pre-paid. Anda perlu membayar terlebih dahulu sebelum menggunakan aplikasi Bizsaya
                            </p>
                            <p>
                                Pihak kami akan menyemak pembayaran tersebut dan mengemaskini status akaun anda
                            </p>

                            <hr>

                            <h4 class="mb-none">Terlambat membuat bayaran?</h4>

                            <p>Bizsaya akan memaklumkan kepada anda 3 hari sebelum tempoh aktif akaun anda tamat.</p>

                            <p>Sekiranya tiada pembayaran dibuat sebelum tempoh aktif tamat, Bizsaya akan berhenti memproses maklumat daripada akaun anda.</p>

                            <p>Dan sekiranya tiada pembayaran dibuat seminggu selepas tempoh aktif, Bizsaya berhak memadam maklumat-maklumat berkaitan dengan akaun anda. Maklumat-maklumat tersebut tidak boleh didapatkan semula.</p>

                            <hr>

                            <h4 class="mb-none">Membatalkan akaun?</h4>
                            <p>
                                Anda boleh membatalkan akaun anda bila-bila masa sahaja daripada Profil Pengguna. Untuk makluman, <strong>Tiada Refund akan diberikan sekiranya terdapat baki tempoh yang ada</strong>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        {{> footer }}

    </div>

    <script src="js/app.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#menu-package').addClass('active');
        });
    </script>

    {{> google_analytics }}
    {{> fb_scripts }}

</body>

{{> end }}