{{> head }}

<body>

    <div class="body">

        {{> header }}

            <div role="main" class="main">

                <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Harga pakej <span>Tawaran harga yang disediakan untuk anda.</span></h1>
                                <ul class="breadcrumb breadcrumb-valign-mid">
                                    <li><a href="/">Utama</a></li>
                                    <li class="active">Harga</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">

                    <section class="call-to-action call-to-action-default button-centered mb-xl appear-animation animated fadeIn appear-animation-visible">
                        <div class="call-to-action-content">
                            <h3>Hanya 1 pakej untuk <strong>semua</strong> fungsi dan modul yang disediakan!</h3>
                            <p>
                                Usah pening kepala dan buang masa untuk membuat pilihan. Kini semuanya dibawah satu
                                <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}' style="margin-top: -5px;">
                                    <span class="word-rotate-items">
                                        <span>pakej</span>
                                        <span>payung</span>
                                        <span>tetapan</span>
                                        <span>plan</span>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </section>

                    <div class="row">
                        <div class="pricing-table">
                            <div class="col-md-4 col-sm-6 center col-md-offset-4 col-sm-offset-3">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper"><div class="plan-ribbon">Terbaik</div></div>
                                    <h3>BOT<span><small><small>RM</small></small>10</span></h3>
                                    <a class="btn btn-lg btn-primary" href="{{ appurl }}">Daftar</a>
                                    <ul>
                                        <li><strong>Tanpa had</strong> tetapan komen</li>
                                        <li><strong>Tanpa had</strong> tetapan YOBB</li>
                                        <li><strong>Tanpa had</strong> jumlah produk</li>
                                        <li>1 Facebook Pages</li>
                                        <li><strong>Sebulan</strong> tempoh percubaan</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="tall">

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <h4 class="mb-none">Apa itu Bizsaya</h4>
                            <p>Bizsaya adalah sebuah aplikasi atas talian yang digunakan untuk mengautomasikan beberapa perkara di laman sosial Facebook Page perniagaan anda.</p>
                            <p>Komen yang diberikan di setiap <i><b>Post</b></i> Facebook Page anda akan dijawab oleh Bizsaya menggunakan tetapan yang anda berikan.</p>
                            <p>Ini memastikan setiap pertanyaan lazim yang ada di komen Facebook Page anda terjawab dan seterusnya meningkatkan lagi rating respon balas Facebook Page anda</p>
                            <p>Selain itu juga, Bizsaya akan menjawab semua mesej yang masuk ke inbox Facebook Page anda dengan menggunakan kemampuan Artificial Intelligence</p>

                            <hr>

                            <h4 class="mb-none">Bagaimana untuk saya berinteraksi dengan pelanggan saya?</h4>
                            <p>Mudah, dengan hanya anda sendiri yang menghantar mesej ke pelanggan anda, Bizsaya akan terus berhenti daripada melayan <b><i>thread</i></b> mesej tersebut.</p>
                            <p>
                                Begitu juga dengan pelanggan anda, Sekiranya mereka ingin berinteraksi terus dengan anda, Pelanggan anda hanya perlu taip STOP AI atau klik pada <b><i>Button</i></b> STOP.
                                Bizsaya akan memaklumkan kepada anda menggunakan <b><i>Push notification</i></b> atau emel bagi menyatakan terdapat pelanggan yang sedang menunggu untuk berinteraksi dengan anda.
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4"></div>
                        <div class="col-sm-6 col-md-4"></div>
                    </div>

                </div>

            </div>

        {{> footer }}

    </div>

    <script src="js/app.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#menu-package').addClass('active');
        });
    </script>

</body>

{{> end }}