{{> head }}

<body>

    <div class="body">

        {{> header }}

            <div role="main" class="main">

                <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Harga pakej <span>Tawaran harga yang disediakan untuk anda.</span></h1>
                                <ul class="breadcrumb breadcrumb-valign-mid">
                                    <li><a href="/">Utama</a></li>
                                    <li class="active">Harga</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">

                    <section class="call-to-action call-to-action-default button-centered mb-xl appear-animation animated fadeIn appear-animation-visible">
                        <div class="call-to-action-content">
                            <h3>Hanya 1 pakej untuk <strong>semua</strong> fungsi dan modul yang disediakan!</h3>
                            <p>
                                Usah pening kepala dan buang masa untuk membuat pilihan. Kini semuanya dibawah satu
                                <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}' style="margin-top: -5px;">
                                    <span class="word-rotate-items">
                                        <span>pakej</span>
                                        <span>payung</span>
                                        <span>tetapan</span>
                                        <span>plan</span>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </section>

                    <div class="row">
                        <div class="pricing-table">
                            <div class="col-md-4 col-sm-6 center col-md-offset-4 col-sm-offset-3">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper"><div class="plan-ribbon">Terbaik</div></div>
                                    <h3>BOT<span><small><small>RM</small></small>10</span></h3>
                                    <a class="btn btn-lg btn-primary" href="{{ appurl }}">Daftar</a>
                                    <ul>
                                        <li><strong>Tanpa had</strong> tetapan komen</li>
                                        <li><strong>Tanpa had</strong> tetapan YOBB</li>
                                        <li><strong>Tanpa had</strong> transaksi masuk dan keluar</li>
                                        <li><strong>Tanpa had</strong> maklumat prospek </li>
                                        <li><strong>Tanpa had</strong> jumlah produk *</li>
                                        <li>Setiap FB Page **</li>
                                        <li><strong>15 hari</strong> tempoh percubaan</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <small>* Modul akan datang dan fungsi senarai produk di inbox</small>
                            <br>
                            <small>** Setiap FB page berharga RM10.00</small>
                        </div>
                    </div>

                    <div class="small"></div>

                </div>

                <div class="heading heading-border heading-middle-border heading-middle-border-center">
                    <h2><strong>FAQ</strong></h2>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col-sm-6 col-md-4 text-justify">
                            <h4 class="mb-none">Apa itu Bizsaya</h4>
                            <p>
                                Bizsaya merupakan sebuah aplikasi atas talian yang dilengkapi dengan modul
                                Komen, Mesej dan Broadcast yang akan digunakan dalam membantu pengurusan
                                laman sosial (Facebook Pages) perniagaan anda dengan mudah, ringkas, berkesan dan kos yang amat berbaloi
                            </p>
                            <p>
                                Bizsaya juga boleh menyimpan maklumat seperti nombor telefon atau emel sekiranya diberikan oleh prospek anda
                                di wall post Facebook Pages anda mahupun di inbox Facebook Pages anda. Modul broadcast pula membolehkan
                                anda untuk menghantar mesej terus kepada semua prospek yang pernah berinteraksi di Facebook Page anda.
                            </p>

                            <hr>

                            <h4 class="mb-none">Fungsi apa yang Bizsaya sediakan?</h4>

                            <p>
                                Bizsaya menyediakan fungsi untuk membalas komen di wall FB page anda. Bizsaya juga menyediakan fungsi untuk
                                anda automasikan proses permulaan mesej prospek anda.
                            </p>

                            <p>
                                Selain itu juga, Bizsaya menyimpan maklumat-maklumat mengenai prospek yang pernah berinteraksi dengan FB page anda.
                                Ini seterusnya membolehkan Bizsaya untuk broadcast mesej tersebut terus kepada prospek anda.
                            </p>

                            <hr>

                            <h4 class="mb-none">Bagaimana Bizsaya menguruskan proses yang mungkin gagal/terhalang</h4>

                            <p>
                                Sewaktu anda memulakan aplikasi Bizsaya. Bizsaya akan meminta anda untuk menerima mesej penting daripada FB Page "Bizsaya Notifikasi".
                                Page ini dibuat khusus untuk menghantar mesej penting ke inbox personal FB Page anda.
                            </p>

                            <p>
                                Setiap kali terdapat kegagalan/halangan didalam aplikasi Bizsaya untuk melakukan tugasan di FB page anda. Bizsaya akan terus memaklumkan
                                kepada anda serta memberi pautan terus ke proses yang tergangu tadi.
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4 text-justify">
                            <h4 class="mb-none">Bagaimana dengan data privasi?</h4>
                            <p>
                                Adalah untuk maklumat anda, <strong>Kami di Bizsaya tidak akan menjual atau menggunakan data yang diberikan kepada pihak ketiga</strong>. Semua maklumat-maklumat tersebut hanyalah digunakan untuk
                                menambah baik aplikasi Bizsaya dan sebagai statistik global yang kami akan meminta kebenaran anda untuk mendapatkannya. Statik ini boleh digunakan untuk tujuan marketing anda mahupun laporan kajian.
                            </p>
                            <p>
                                Kami juga akan cuba sedaya upaya untuk memastikan data dan maklumat yang ada selamat daripada diceroboh biarpun didalam aplikasi Bizsaya, Tiada maklumat yang disimpan untuk jangka masa panjang.
                                Oleh kerana maklumat Bizsaya datang daripada Facebook, anda juga perlu mengetahui polisi privasi Facebook.
                            </p>
                            <p>
                                Tiada maklumat sulit yang disimpan didalam aplikasi Bizsaya mahupun diperlukan oleh Bizsaya. YOBB akan menggunakan maklumat-maklumat yang diberikan oleh anda dan itu sahaja.
                            </p>

                            <hr>

                            <h4 class="mb-none">Maklumat apa yang Bizsaya simpan</h4>
                            <p>
                                Bizsaya hanya menyimpan maklumat asas FB anda, maklumat asas FB page anda, serta maklumat-maklumat prospek yang berinteraksi dengan FB page anda (Digunakan untuk modul broadcast).
                            </p>

                            <hr>

                            <h4 class="mb-none">Apa yang Bizsaya buat dengan maklumat tersebut</h4>

                            <p>
                                Maklumat-maklumat ini digunakan untuk mengautomasikan FB page yang anda pilih serta digunakan untuk memastikan aplikasi Bizsaya dapat membantu anda mengautomasi FB Page anda dengan lebih mudah
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4">



                            <h4 class="mb-none">Bagaimana cara untuk saya membayar?</h4>
                            <p>
                                Buat masa sekarang, Bizsaya tidak menyediakan lagi fungsi "auto-payment"/"auto-debit" payment daripada debit/credit card anda.
                                Oleh itu, anda perlu membuat pembayar ke no account yang diberikan (Boleh didapati di Profil Pengguna)
                                dan memuat naik bukti pembayaran tersebut ke aplikasi (Boleh didapati di Profil Pengguna) ataupun Whatsapp ke nombor yang diberikan (Boleh didapati di Profil Pengguna)
                            </p>
                            <p>
                                Bizsaya digunakan secara pre-paid. Anda perlu membayar terlebih dahulu sebelum menggunakan aplikasi Bizsaya
                            </p>
                            <p>
                                Pihak kami akan menyemak pembayaran tersebut dan mengemaskini status akaun anda
                            </p>

                            <hr>

                            <h4 class="mb-none">Terlambat membuat bayaran?</h4>

                            <p>Bizsaya akan memaklumkan kepada anda 3 hari sebelum tempoh aktif akaun anda tamat.</p>

                            <p>Sekiranya tiada pembayaran dibuat sebelum tempoh aktif tamat, Bizsaya akan berhenti memproses maklumat daripada akaun anda.</p>

                            <p>Dan sekiranya tiada pembayaran dibuat seminggu selepas tempoh aktif, Bizsaya berhak memadam maklumat-maklumat berkaitan dengan akaun anda. Maklumat-maklumat tersebut tidak boleh didapatkan semula.</p>

                            <hr>

                            <h4 class="mb-none">Membatalkan akaun?</h4>
                            <p>
                                Anda boleh membatalkan akaun anda bila-bila masa sahaja daripada Profil Pengguna. Untuk makluman, <strong>Tiada Refund akan diberikan sekiranya terdapat baki tempoh yang ada</strong>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        {{> footer }}

    </div>

    <script src="js/app.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#menu-package').addClass('active');
        });
    </script>

    {{> google_analytics }}
    {{> fb_scripts }}

</body>

{{> end }}