{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Harga pakej <span>Tawaran harga yang disediakan untuk anda.</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Harga</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

        </div>

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}