{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Kenapa Murah Sangat?<span>Penerangan mengapa harga Bizsaya boleh jadi sebegini murah dan berbaloi</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Kenapa murah sangat?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <p>
                <span style="font-size: 35px">O</span>leh kerana kos untuk anda menggunakan aplikasi Bizsaya sangat murah, dan bagi mengelakkan Bizsaya dikatakan
                buang harga atau "kill market". Kami di Bizsaya akan memberikan penerangan kenapa dan bagaimana Bizsaya boleh memberikan kos penggunaan yang semurah ini untuk kegunaan anda.
            </p>

            <p>
                Bizsaya dibangunkan menggunakan implementasi teknologi-teknologi terkini yang membolehkan
                aplikasi Bizsaya berfungsi dengan cekap serta menggunakan "computing resources" yang lebih rendah.
            </p>

            <p>
                Apabila aplikasi Bizsaya dapat berfungsi dengan cekap dan menggunakan "computing resources" yang lebih rendah, Ini membolehkan aplikasi Bizsaya menguruskan lebih banyak akaun didalam satu
                komputer pelayan. Secara tidak langsung, mengurangkan kos serta memberikan pulangan yang lebih banyak dengan kos yang lebih rendah.
            </p>

            <p>
                Selain itu juga, Bizsaya menggunakan teknologi web SPA yang menggunakan "computing resource" daripada komputer pengguna-pengguna Bizsaya sendiri
                untuk memaparkan aplikasi Bizsaya. Ini sekali lagi mengurangkan penggunaan "resource" di komputer pelayan Bizsaya membolehkan Bizsaya menguruskan lebih ramai lagi
                pelanggan Bizsaya didalam satu pelayan.
            </p>

            <p>
                Untuk masa sekarang, Bizsaya dibina oleh seorang programmer. Bagi kami di Bizsaya, Penggunaan RM10.00 sebulan sudah cukup untuk memastikan kami mampu untuk membantu
                automasi FB Page anda didalam masa yang sama, Kami mendapat keuntungan yang berpadanan.
            </p>

            <p>
                Walaupun aplikasi Bizsaya mempunyai kos penggunaan yang amat rendah. Akan tetapi, aplikasi Bizsaya mempunyai kualiti yang tinggi serta kebolehan untuk menguruskan automasi
                FB page anda. Tidak semestinya murah menandakan ianya tidak bagus dan berkualiti rendah, Dan tidak semestinya perlu mahal menandakan ianya bagus dan berkualiti A++.
            </p>

            <p>
                Cara minimal yang digunakan untuk membangunkan Bizsaya, serta kecanggihan teknologi terkini membantu Bizsaya untuk memberikan kos penggunaan yang lebih murah serta lebih berbaloi,
                bersesuai dengan apa yang Bizsaya "deliver" untuk kesemua pengguna-pengguna Bizsaya.
            </p>

            <p>
                Klik pada pautan <a href="tech.html">Disebalik Tabir</a> untuk mengetahui bagaimana Bizsaya dibina dan teknologi-teknologi yang digunakan didalam membangunkan aplikasi Bizsaya
            </p>

        </div>

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>

{{> google_analytics }}
{{> fb_scripts }}

</body>

{{> end }}