{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Privasi dan Terma<span>Hak anda dan maklumat data yang diterima</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Privasi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="text-center">
                <h2><strong>Privasi</strong> maklumat pengguna</h2>
                <p class="lead">
                    Dengan menggunakan Bizsaya, Tugasan untuk melayan pelanggan-pelanggan anda di laman sosial Facebook Page anda akan menjadi lebih mudah
                    serta lebih tersusun. Dengan menggunakan Bizsaya, anda boleh untuk .....
                </p>
            </div>

        </div>

        <hr class="short">

        <div class="container">



        </div>
    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>

{{> google_analytics }}

</body>

{{> end }}