{{> head }}

<body>

<div class="body">

    {{> header }}

    <div role="main" class="main">

        <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Muat turun prospek <span>Senarai prospek-prospek FB page anda</span></h1>
                        <ul class="breadcrumb breadcrumb-valign-mid">
                            <li><a href="/">Utama</a></li>
                            <li class="active">Muat turun prospek</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            Muat turun senarai prospek FB page anda... Sila tunggu sebentar..

            <div id="message" style="width: 100%;border: 1px solid #ccc395; padding: 15px; color: #000; font-size: 16px; margin-top: 15px"></div>

        </div>

    </div>

    {{> footer }}

</div>

<script src="js/app.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blob-util/1.2.1/blob-util.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.5/xlsx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
{{> google_analytics }}
{{> fb_scripts }}
<script>
    var URL = '{{ apiurl }}contacts'
</script>
<script src="js/sheet.min.js"></script>

</body>

{{> end }}